.collection-categories {
    .categories {

        .item {
            padding-top: 2rem;

            .cat-info {
                display: block;
                text-align: center;
            }
        }

        @include breakpoint(untilTablet) {
            .counts {
                display: flex;
            }

            .title {
                display: block;

                h4 {
                    margin-bottom: .5rem;
                }
            }
        }
    }

    .detail-category {
        margin-bottom: 2rem;
        position: relative;

        .bg-img {
            right: 0;
            top: -4rem;
        }

        .container {
            display: flex;
            align-items: center;

            h2 {
                margin-bottom: 2rem;
            }
        }

        @include breakpoint(untilTablet) {
            .container {
                display: block;

                .img {
                    width: 50%;
                    margin-bottom: 1.5rem;

                    img {
                        width: 100%;
                    }
                }

                h2 {
                    font-size: 32px;
                    line-height: 145%;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .collections {
        margin-bottom: calc(64px - 20px);
    }
}

.collection-sub-categories-detail {
    .filter-content {
        padding-bottom: 45px;
        margin-top: -16px;
    }
}



.collection-detail {
    .header-page {
        margin-bottom: 62px;
    }

    .collection-detail-content {
        margin-bottom: 115px;

        .row {
            align-items: center;

            .cd-img {
                img {
                    width: 100%;
                    border-radius: 48px;
                }
            }

            .cd-info {
                color: black;

                @include breakpoint(largeDesktop) {
                    padding-left: 6rem;
                }

                .cd-title {
                    margin-bottom: 2rem;
                }

                .cd-stats {
                    margin-bottom: 2rem;

                    .item {
                        display: flex;
                        align-items: center;
                        color: #474747;
                        font-weight: 700;

                        &:not(:last-child) {
                            margin-bottom: 1.5rem;
                        }

                        span {
                            color: #848484;
                            font-weight: 400;
                            margin-left: .25rem;
                        }

                        img {
                            margin-right: 18px;
                        }
                    }
                }
            }
        }
    }

    .value-tracker {
        margin-bottom: 108px;

        h4 {
            margin-bottom: 2rem;
        }

        .vt-img {
            img {
                width: 100%;
            }
        }
    }

    .collections {
        margin-bottom: 100px;

        h4 {
            margin-bottom: 3rem;
        }
    }
}