.collection-categories {
    .categories {
        .item {
            padding-top: 2rem;

            .cat-info {
                display: block;
                text-align: center;
            }
        }
    }

    .detail-category {
        margin-bottom: 2rem;

        .container {
            display: flex;
            align-items: center;

            h2 {
                margin-bottom: 2rem;
            }
        }
    }
}