.collection-categories {
    .categories {
        .item {
            padding-top: 2rem;

            .cat-info {
                display: block;
                text-align: center;
            }
        }
    }

    .detail-category {
        margin-bottom: 2rem;

        .container {
            display: flex;
            align-items: center;

            h2 {
                margin-bottom: 2rem;
            }
        }
    }

    .collections {
        margin-bottom: calc(64px - 20px);

        .item-title {
            display: flex;

            .po {
                background-color: $primary;
                color: $secondary;
                font-weight: bold;
                text-transform: uppercase;
                width: 30%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 12px;
                border-radius: 8px;
            }

            .text {
                font-size: 14px;
            }
        }
    }
}