.collection-categories {
    .breadcrumbs {
        .container {
            padding-left: .75rem;
        }
    }

    .categories {

        .item {
            padding-top: 2rem;

            .cat-info {
                display: block;
                text-align: center;
            }
        }

        .title {

            h4 {
                margin-right: 1rem;
            }
        }

        @include breakpoint(mobileonly) {
            .counts {
                display: flex;
            }

            .title {
                display: block;

                h4 {
                    margin-bottom: 10px;
                    line-height: 46.4px;
                }
            }
        }
    }

    .detail-category {
        margin-bottom: 2rem;
        position: relative;
        margin-top: 2rem;

        .bg-img {
            right: 0;
            top: -4rem;
        }

        .container {
            display: flex;
            align-items: center;

            h2 {
                margin-bottom: 2rem;
            }

            .img {
                width: 40%;

                img {
                    width: 100%;
                }
            }
        }

        @include breakpoint(mobileonly) {
            .container {
                display: block;

                .img {
                    width: 50%;
                    margin-bottom: 1.5rem;

                    img {
                        width: 100%;
                    }
                }

                h2 {
                    font-size: 32px;
                    line-height: 145%;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .collections {
        margin-bottom: calc(64px - 20px);
    }
}

.filter-content {
    padding-bottom: 45px;
    margin-top: -16px;

    @include breakpoint(untilTablet) {
        .col-12 {
            margin-bottom: 1rem;
        }
    }
}

.collection-detail {
    .header-page {
        margin-bottom: 62px;
    }

    .collection-detail-content {
        margin-bottom: 115px;

        .row {
            align-items: center;

            .cd-img {
                img {
                    width: 100%;
                    border-radius: 48px;
                }
            }

            .cd-info {
                color: black;

                .cd-title {
                    margin-bottom: 2rem;
                }

                .cd-stats {
                    margin-bottom: 2rem;

                    .item {
                        display: flex;
                        align-items: center;
                        color: #474747;
                        font-weight: 700;

                        &:not(:last-child) {
                            margin-bottom: 1.5rem;
                        }

                        span {
                            color: #848484;
                            font-weight: 400;
                            margin-left: .25rem;
                        }

                        img {
                            margin-right: 18px;
                        }
                    }

                }

                &.my-collection {

                    .cd-stats {
                        display: flex;
                        align-items: center;

                        .item {
                            margin-bottom: 0;
                            margin-right: 4rem;
                        }
                    }

                    .cd-desc {
                        margin-bottom: 42px;
                    }

                    .cd-time {
                        color: #848484;
                        font-size: 14px;
                        margin-bottom: 60px;

                        span {
                            font-weight: 600;
                        }
                    }

                    .cd-user-time {
                        display: flex;
                        align-items: center;

                        .cd-user {
                            display: flex;
                            align-items: center;
                            margin-right: 100px;
                            margin-bottom: 60px;

                            img {
                                width: 2rem;
                                height: 2rem;
                                border-radius: 50%;
                                margin-right: 12px;
                            }
                        }
                    }

                    .cd-actions {
                        margin-bottom: 42px;

                        .btn {
                            padding: 18px 80px;
                            font-weight: bold;

                            &:first-child {
                                margin-right: 20px;
                            }
                        }
                    }

                    .cd-share {
                        display: flex;
                        color: #848484;
                        align-items: center;

                        img {
                            margin-right: 12px;
                        }
                    }
                }
            }

            @include breakpoint(untilTablet) {
                .cd-img {
                    margin-bottom: 2rem;
                }

                .cd-info {
                    &.my-collection {
                        .cd-actions {
                            .btn {
                                padding: 1rem;
                                width: 45%;
                            }
                        }
                    }
                }
            }
        }
    }

    .value-tracker {
        margin-bottom: 108px;

        h4 {
            margin-bottom: 2rem;
        }

        .vt-img {
            img {
                width: 100%;
            }
        }
    }

    .collections {
        margin-bottom: 100px;

        h4 {
            margin-bottom: 3rem;
        }
    }

    .story-comments {
        color: black;
        margin-bottom: 100px;

        h5 {
            font-size: 28px;
            margin-bottom: 2rem;

            span {
                font-weight: 400;
            }
        }

        .story {
            padding-top: 24px;

            p {
                font-size: 18px;
            }
        }

        @include breakpoint(untilTablet) {
            .story {
                margin-bottom: 4rem;
            }
        }

        .comments-container {
            border: 1px solid #DBDEE2;
            padding: 24px;
            border-radius: 10px;

            .no-comments {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 300px;
                flex-direction: column;
                color: #868686;

                img {
                    width: 53px;
                    height: 53px;
                    margin-bottom: 21px;
                }
            }

            .cm-item {
                display: flex;
                margin-bottom: 1rem;

                .cm-img {
                    img {
                        width: 36px;
                        height: 36px;
                        margin-right: 1rem;
                        margin-top: .5rem;
                    }
                }

                .cm-content {
                    padding: 12px 16px;
                    background: #FBFBFB;
                    border-radius: 6px 36px 6px 6px;
                    font-size: 14px;
                    width: 100%;

                    .cm-name {
                        color: #4A4A4A;
                        font-weight: 700;
                        margin-bottom: 4px;
                    }

                    .cm-time {
                        color: #848484;
                        margin-bottom: 1rem;
                        font-size: 12px;
                    }

                    .cm-text {
                        color: black;
                    }
                }
            }

            .cm-input {
                display: flex;
                align-items: center;

                .form-control {
                    border-color: #DBDEE2;
                    font-size: 14px;

                    @include breakpoint(untilTablet) {
                        width: 84%;
                    }

                    ::placeholder {
                        color: #AAB4C8;
                        font-weight: 500;
                        opacity: 1;
                    }

                    :-ms-input-placeholder {
                        color: #AAB4C8;
                        font-weight: 500;
                    }

                    ::-ms-input-placeholder {
                        color: #AAB4C8;
                        font-weight: 500;
                    }
                }

                .btn {
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    margin-left: 12px;
                }
            }
        }
    }

    .status-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px;
        background-color: #F8FCFE;
        border-radius: 16px;
        margin-bottom: 100px;

        .btn {
            font-weight: bold;
        }

        .action-buttons {
            display: flex;
            align-items: center;

            p {
                margin-right: 40px;
            }

            .btn-secondary {
                margin-right: 2rem;
            }
        }
    }
}

.collection-bid {
    text-align: center;

    >.row {
        align-items: center;
    }

    .cb-img {
        img {
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    .cb-title {
        font-size: 18px;
    }

    @include breakpoint(untilTablet) {
        .cb-title {
            margin-bottom: 1.5rem;
        }
    }

    .last-bid {
        padding-left: 1rem;


        h2 {
            margin-bottom: 18px;
        }

        p {
            color: #848484;
        }

        .form-label {
            color: #848484;
            margin-bottom: 1rem;
        }

        .form-input {
            position: relative;
            margin-bottom: 40px;

            .form-control {
                padding-left: 1rem;
            }

            &::after {
                content: '$';
                position: absolute;
                font-weight: 500;
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 32px;
                color: #666F7C;
            }
        }

        .tnc {
            margin-bottom: 24px;
            text-align: left;

            a {
                color: $success;
            }
        }

        .btn-groups {
            .btn {
                width: 100%;
            }
        }
    }
}