.dark {
    .categories {
        .item {
            background: linear-gradient(180deg, rgba(21, 33, 57, 0) 0%, #152139 100%);
        }
    }

    .cta {
        .container {
            background-color: #152139;
            color: white;
        }
    }
}