[data-theme="dark"] {

    .form-control,
    .form-select {
        background-color: #1A2336;
        border-color: #626262;
        color: white;
    }

    .offcanvas-body {
        background-color: #121F39;

        .actions {
            color: white;

            .profile {
                border: 1px solid white;
                background-color: #152139;
                border-radius: 2rem;
                padding: 4px;
            }

            a>img,
            .burger {
                @include invert();
            }
        }

        .btn-close {
            @include invert();
        }
    }

    .modal-content {
        background-color: #000C25;
    }

    .offcanvas-sidebar {
        background-color: $dark;
        color: white;

        .sidebar-menu {
            li {
                a {
                    color: white !important;
                }
            }
        }

        .sidebar-actions {
            .dropdown {
                >a>img {
                    @include invert();
                }
            }

            .profile {
                background-color: #01143A;
                border-color: #4B4B4B;

                .burger {
                    @include invert();
                }
            }
        }

        .sidebar-search {
            .icon-search {
                img {
                    @include invert();
                }
            }
        }

        .dropdown-menu.show {
            background-color: #131313;

            li a,
            label,
            .dropdown-title {
                color: white !important;
            }
        }
    }

    .navbar {
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        background-color: $dark  !important;

        .dropdown-menu.show {
            background-color: #131313;
            color: white;

            .dropdown-item {
                color: white;

                &:hover {
                    color: white;
                }
            }

            .dropdown-divider {
                border-color: #494949;
            }
        }

        .hamburger {
            img {
                @include invert();
            }
        }

        .menu-list {
            ul {
                li {
                    color: white;

                    a:hover {
                        color: white;
                    }
                }
            }
        }

        .actions {
            .profile {
                background-color: #01143A;
                border-color: #4B4B4B;

                .burger {
                    @include invert();
                }
            }

            .dropdown>a>img {
                @include invert();
            }
        }
    }

    .categories {
        .item {
            background: linear-gradient(180deg, rgba(21, 33, 57, 0) 0%, #152139 100%);

            .cat-info {
                p {
                    color: #A2B1D1;
                }
            }
        }
    }

    .counts {
        img {
            @include invert();
        }
    }

    .search .container {
        background-color: #152139 !important;

        .form-select {
            color: white;

            option {
                background-color: $dark;
            }
        }

        .search-bar {
            img {
                filter: brightness(0);
            }
        }

        .form-control {
            background-color: #242F47;
            border-color: #242F47;
            color: white;
        }
    }

    .cta {
        .container {
            background-color: #152139;
            color: white;

        }
    }

    .features {

        .subtitle,
        p {
            color: white;

            img {
                @include invert();
            }
        }
    }

    .title-page {
        .title {
            color: white;
        }
    }

    .collectors {
        .collector {
            background-color: #0D1A31;
        }

        .clr-img {
            img {
                border-color: #0D1A31;
            }
        }

        .clr-stats {
            .item {
                img {
                    @include invert();
                }
            }
        }
    }

    &.collection-detail {
        .status-action {
            background-color: #121F39;
        }
    }

    .collection-detail-content {
        .cd-info {

            .cd-title,
            .cd-desc,
            .cd-user,
            .cd-time,
            .cd-share {
                color: white !important;
            }

            .cd-share {
                img {
                    @include invert();
                }
            }

            .cd-stats {

                .item,
                .item span {
                    color: white !important;
                }

                img {
                    @include invert();
                }
            }
        }
    }

    .story,
    .comments-container {
        color: white;
    }

    .comments-container {
        .cm-item {
            .cm-content {
                background-color: #1A2336 !important;

                .cm-name,
                .cm-time,
                .cm-text {
                    color: white !important;
                }
            }
        }
    }

    .collections {
        .collection {
            background-color: #00091C;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);

            .item-info {
                border-color: #00091C;

                .po {
                    border: 1px solid $secondary;
                }

                img {
                    @include invert();
                }

                .item-title {
                    .text {
                        color: white;
                    }
                }

                .stats {
                    .item {
                        color: white;

                        span {
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .paginations {
        .current-page {
            color: white;
        }

        .pagination .page-item {
            .page-link {
                color: white;
                background-color: transparent;
            }

            &.active,
            &:hover {
                .page-link {
                    border-color: white;
                }
            }
        }
    }

    .breadcrumbs {
        .item {
            color: #B2B2B2;

            &:last-child {
                color: white;
            }
        }
    }

    .vertical-menu {
        .list-menu {
            li {
                &.active {
                    a {
                        color: white;
                    }
                }

                a {
                    color: #DADADA;
                }
            }
        }
    }

    .collector-about {

        .prop,
        .data {
            color: white;
        }

        .presence {
            .data {
                color: $success;
            }
        }
    }

    .profil-cat .item {
        color: #DADADA;
    }

    .btn,
    .search-icon,
    .search-img {
        img {
            @include invert();
        }
    }

    .preview-collection {
        background-color: #004927;
        color: white;

        img {
            @include invert();
        }
    }

    .cm-input {
        .btn {
            img {
                filter: brightness(0);
            }
        }
    }

    .btn-outline-light {
        border-color: white;
        color: white;

        img {
            @include invert();
        }

        &:hover {
            border-color: white;
            color: white;
        }
    }

    .invite-list {
        background-color: #121F39;
    }

    .ed-footer .back {
        color: white;

        img {
            @include invert();
        }
    }

    &.events-page {
        .filter-events {

            .filter-title,
            .form-check,
            .form-control,
            .form-select {
                color: white;
                border-color: #626262 !important;
            }

            .section {
                border-color: #5E5E5E;
            }
        }
    }

    .edit-profile {
        .change-image {
            .btn-gray {
                background-color: #3C4D70;
            }
        }
    }

    .profile-cat {
        color: white;
    }

    &.add-collection {

        h4,
        .form-label {
            color: white;
        }

    }

    .add-img-label {
        background-color: #1A2336;
    }

    &.add-collection {
        .info {
            color: white;

            img {
                @include invert();
            }
        }

        .featured-image {
            .fi-item {
                .img-placeholder {
                    background-color: #1A2336;
                }
            }
        }
    }

    .steps {
        .step {
            &.done {
                .number {
                    background-color: $secondary;
                    border-color: $secondary;

                    img {
                        filter: brightness(0);
                    }
                }

                .text {
                    color: white;
                }
            }

            .number {
                background-color: $dark;
                color: #B5B5B6;
                border-color: #B5B5B6;
            }
        }
    }

    &.faq {
        .faq-header {
            background-color: #152139;
        }

        .search-bar-faq {
            input {
                background-color: #2B3C60;
            }
        }

        .accordion {

            .accordion-item {
                background-color: $dark;
                color: white;

                .accordion-header {
                    .accordion-button {
                        background-color: $dark  !important;
                        color: white;
                        border-color: #394C72;
                    }
                }

                .accordion-body {
                    color: #C3CAD7;
                }
            }
        }
    }

    .apps {
        background-color: #131313;
    }

    .top-col {
        .section {
            .category {
                background: linear-gradient(180deg, rgba(21, 33, 57, 0) 0%, #152139 100%);

                .cat-text .desc {
                    color: #A2B1D1;
                }
            }

            .collections,
            .collectors {
                .item {
                    background-color: #0D1A31;

                    .item-img {
                        img {
                            border: 3px solid #424242;
                        }
                    }

                    .item-info {
                        color: white;

                        .rank {
                            border-color: #0D1A31;
                        }

                        .item-stats .stat img {
                            @include invert();
                        }
                    }
                }
            }
        }
    }

    .si-content {
        .btn-groups {
            .btn {
                img {
                    filter: none;
                }
            }
        }



        .or span {
            background-color: #000C25;
        }


        .create p,
        .form-check {
            color: white;
        }
    }

    .benefits {
        .title {
            img {
                @include invert();
            }
        }

        .desc {
            color: white;
        }
    }

    .contact-content {

        .form-message .form-group .form-label,
        .socials li a {
            color: white;
        }
    }

    &.index {
        .footer {
            background-color: #131313;
        }
    }

    &.add-event-page {
        .form-group {
            .images {
                .img-container {
                    background-color: #1A2336;

                    img {
                        filter: brightness(0.5) invert(1);
                    }
                }
            }
        }
    }

    .sidebar-nav {
        background-color: #121F39;
    }


    .footer {

        .container {
            .top-section {
                .description {
                    color: #A6A6A6;
                }

                .question {
                    box-shadow: none;
                    border: 1px solid $secondary;
                }

                .footer-menu {
                    li {
                        color: #A6A6A6;
                    }
                }

                .menu-title {
                    color: white;
                }
            }

            .bottom-section {
                border-color: #2F2F2F;
            }
        }
    }
}