.dashboard {
    background-color: #F8FCFE;
    display: flex;


    .btn-circle-next {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        img {
            transform: rotate(180deg);
            width: 12px;
            height: 12px;
        }
    }

    .dropdown-switch {
        padding: 4px 16px;
    }
}

.sidebar-nav {
    max-width: 250px;
    max-height: 100vh;
    background-color: white;

    @include breakpoint(untilTablet) {
        display: none;
    }

}


.sidebar {
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo {
        margin-bottom: 3rem;
    }

    .guideline {
        border-radius: 1rem;
        background-color: #B1E3FC;
        color: #130F26;
        padding: 1.5rem 0 0 1.5rem;

        .text {
            margin-bottom: 14px;
            font-weight: 500;
        }

        .btn-purple {
            background-color: #482FC8;
            color: $secondary;
            border-radius: 36px;
            padding: 10px 24px;
        }

        .img {
            img {
                width: 100%;
                margin-top: -30px;
                z-index: -1;
                border-bottom-right-radius: 1rem;
            }
        }
    }

    .menu {
        margin-right: -2rem;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {

                &.active,
                &:hover {
                    font-weight: bold;
                    position: relative;

                    &:after {
                        content: '';
                        width: 4px;
                        position: absolute;
                        border-radius: 0px 10px 10px 0px;
                        background-color: $secondary;
                        height: 80%;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                a {
                    padding: 1.5rem;
                    display: block;
                }
            }
        }
    }
}

.offcanvas {
    .sidebar {
        padding: 1.5rem 1rem;
        width: 100%;
        padding-bottom: 2rem;

        .logo {
            margin-bottom: 1rem;
        }

        .menu {
            margin-bottom: 2rem;

            ul li a {
                padding-left: 0;
            }
        }

        .actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            padding: 1rem 0;
            border-top: 1px solid lightgray;
        }
    }
}

.content-dashboard {
    width: 100%;
    padding: 2rem;
    background-color: #F8FCFE;

    @include breakpoint(mobileonly) {
        padding: 2rem 1.5rem;
    }

    .header-dashboard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.5rem;

        .section {
            display: flex;
            align-items: center;

            .hamburger {
                display: none;

                img {
                    height: 20px;
                    width: auto;
                }
            }


            h5 {
                span {
                    font-weight: 400;
                }
            }

            .form-select {
                background-color: transparent;
                color: #666666;
                border-color: #8B8B8B;
                width: 110px;
                border-radius: 10px;
                padding: 8px 16px;
            }

            >*:not(:last-child) {
                margin-right: 1.5rem;
            }

            .export {
                display: flex;
                align-items: center;
                color: #8195BB;
                white-space: nowrap;

                img {
                    margin-right: 1rem;
                }
            }

            .back-home {
                margin-right: 44px;
            }

            .profile {
                margin-left: 44px;
                background-color: white;
                border: 1px solid #eaeaea;
                border-radius: 20px;
                padding: 6px;
            }

            @include breakpoint(mobileonly) {
                &.left {
                    >* {
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }
                }
            }

            @include breakpoint(untilTablet) {
                &.right {
                    display: none;
                }

                .hamburger {
                    display: block;
                }

                &.left {
                    flex-wrap: wrap;

                    >* {
                        margin-bottom: 1rem;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }

    .dashboard-stats {
        .stat {
            padding: 2rem;
            background-color: white;
            border-radius: 24px;
            margin-bottom: 2.25rem;

            &.flex {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .right-side {
                    margin: -2rem;
                    margin-left: 0;
                }

                .number {
                    margin-bottom: 0;
                }
            }

            .stat-name {
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 11px;
            }

            .number {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 40px;

                .primary {
                    font-size: 3rem;
                }

                .dynamic {
                    display: flex;
                    align-items: center;
                    color: $success;
                    font-size: 20px;

                    img {
                        margin-right: 12px;
                    }
                }
            }



            @include breakpoint(mobileonly) {
                &.flex {
                    flex-direction: column;

                    .left-side {
                        margin-bottom: 1rem;
                    }

                    .right-side {
                        margin-top: 0;
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        margin-right: -4rem;
                    }

                    .chart {
                        width: 80%;
                    }
                }

                .stat-name {
                    font-size: 18px;
                }

                .number {
                    .primary {
                        font-size: 2.5rem;
                    }

                    .dynamic {
                        font-size: 16px;
                    }
                }
            }


            .chart {
                img {
                    width: 100%;
                }
            }
        }
    }

    .events-stats {
        margin-bottom: 1rem;

        .es-card {
            margin-bottom: 1.5rem;

            img {
                width: 100%;
            }
        }

        .es-item {
            margin-bottom: 8px;
            padding: 1.5rem 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            border-radius: 1rem;

            .number {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

    .logs {
        background-color: white;
        border-radius: 1rem;
        padding: 2rem;

        .title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 1.5rem;
        }

        .log-item {
            margin-bottom: 1rem;
            padding-left: 1.5rem;
            position: relative;

            &.comment {
                &:after {
                    background-color: #7B61FF;
                }
            }

            span {
                font-weight: bold;
            }

            &:after {
                content: '';
                width: 14px;
                height: 14px;
                position: absolute;
                left: 0;
                top: 5px;
                border-radius: 50%;
                background-color: #00FFB9;
            }
        }
    }

    .events-dashboard {
        .event-item {
            padding: 1.5rem;
            background-color: white;
            border-radius: 1rem;
            margin-bottom: 1rem;

            >.row {
                align-items: center;
            }

            .ei-img {
                img {
                    width: 100%;
                }
            }

            .ei-info {
                .text-icon {
                    display: flex;
                    color: #848484;
                    margin-bottom: 12px;

                    img {
                        margin-right: 1rem;
                    }
                }

                .title {
                    font-weight: bold;
                    padding-top: 12px;
                    color: #626262;
                    font-size: 18px;
                }
            }

            .ei-status {
                display: flex;
                align-items: center;
                justify-content: space-between;

                @include breakpoint(desktop) {
                    padding-left: 2rem;
                }

                .status {
                    margin-bottom: 2rem;
                }

                .text {
                    color: #B3B3B3;
                    font-size: 14px;
                    margin-bottom: .5rem;
                }

                .status-badge {
                    border-radius: 8px;
                    color: white;
                    font-weight: bold;
                    font-size: 12px;
                    width: 120px;
                    text-align: center;
                    padding: 4px .5rem;
                    background-color: #FF7F17;

                    &.approved {
                        background-color: #20CE7D;
                    }

                    &.rejected {
                        background-color: #F94D63;
                    }
                }

            }
        }
    }

    .event-detail {
        .status-action {
            background-color: white;
            padding: 64px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            border-radius: 1rem;
            margin-bottom: 2rem;

            .section {
                .text {
                    color: #A4A4A4;
                    font-size: 14px;
                }

                &.left {
                    .text {
                        margin-bottom: 12px;
                    }
                }

                &.right {
                    display: flex;
                    align-items: center;
                }

                .badges {
                    min-width: 118px;
                    padding: 12px 8px;
                    border-radius: 8px;
                    font-weight: bold;
                    font-size: 18px;
                    color: white;
                    background-color: #FF7F17;
                    text-align: center;

                    &.approved {
                        background-color: #20CE7D;
                    }
                }

                .btn {
                    margin-left: 2rem;
                    font-weight: bold;
                }
            }
        }

        @include breakpoint(mobileonly) {
            .ed-content {
                padding: 0;
            }

            .status-action {
                padding: 1rem;
                flex-direction: column;
                align-items: start;

                .section:first-child {
                    margin-bottom: 1rem;
                }

                .section:last-child {
                    flex-wrap: wrap;
                }
            }
        }

    }

    .contact-dashboard {
        .table {
            font-size: 14px;

            th {
                background-color: transparent;
                border-bottom: 0;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                font-size: 1rem;
            }

            tbody {
                tr {
                    background-color: white;

                    td {
                        &.bold {
                            font-weight: 600;
                        }

                        vertical-align: middle;
                        padding-top: 1.5rem;
                        padding-bottom: 1.5rem;
                    }
                }
            }
        }
    }

    .home-setting {
        .hs-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 4rem;

            .form-check {
                margin-bottom: 18px;
            }

            .btn {
                font-weight: bold;
            }
        }

        .hs-design {
            .title-section {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1.5rem;

                .title {
                    font-weight: bold;
                }

                .btn {
                    font-size: 14px;
                    padding: 18px 20px;
                }
            }

            .design-items {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1.5rem;

                .design-item {
                    background-color: white;
                    border-radius: 1rem;
                    padding: 1.5rem;

                    img {
                        width: 100%;
                    }

                    .form-check {
                        margin-bottom: 12px;

                        &.no-input {
                            padding-left: 0;
                        }
                    }
                }
            }
        }



        @include breakpoint(mobileonly) {
            .hs-header {
                flex-direction: column;

                .checkboxes {
                    margin-bottom: 1rem;
                }
            }

            .hs-design {
                .title-section {
                    flex-direction: column;
                    align-items: flex-start;

                    .title {
                        margin-bottom: 1rem;
                    }
                }

                .design-items {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }

    .create-home-setting {
        background-color: white;
        border-radius: 1rem;
        padding: 28px 2rem;

        .form-control {
            font-size: 14px;
            padding: 8px 12px;
            font-weight: 500;
        }

        .images {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 1.5rem;

            .img-container {
                padding: 1rem;
                background-color: #F5F5F5;
                border-radius: 1rem;

                &.empty {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 48px;
                        height: 48px;
                    }
                }

                img {
                    width: 100%;
                    height: 180px;
                    object-fit: contain;
                }
            }

            @include breakpoint(mobileonly) {
                grid-template-columns: repeat(2, 1fr);

                .img-container {
                    img {
                        height: 100px;
                    }
                }
            }
        }

        .btn-groups {
            margin-top: 4rem;

            .btn-primary {
                color: white;
            }
        }
    }

    $default-diff: 12px;
    $default-width: 100%;
    $default-min: 10%;

    .card-stack {
        width: 100%;
        position: relative;
        margin: 0 auto;
        height: 18vw;

        @include breakpoint(mobileonly) {
            height: 62vw;
            margin-bottom: 2rem;
        }

        .buttons {
            display: none;
            position: absolute;
            background: rgba(0, 0, 0, 0.46);
            border: 2px solid rgba(255, 255, 255, 0.7);
            border-radius: 50%;
            width: 35px;
            height: 35px;
            left: 0;
            top: 55%;
            color: rgba(255, 255, 255, 0.7);
            text-align: center;
            line-height: 35px;
            text-decoration: none;
            font-size: 22px;
            z-index: 100;
            outline: none;
            transition: all 0.2s ease;

            &:hover {
                transform: scale(1.3, 1.3);
            }
        }

        .prev {
            left: 15px;
            right: auto;
        }

        .next {
            left: auto;
            right: 15px;
        }

        .carousel .buttons:hover {
            color: #C01313;
            background: #fff;
        }

        .card-list {
            margin: 0;
            cursor: pointer;

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 100ms ease-in-out;
                border-radius: 10px;
                list-style: none;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                margin: 0 auto;

                &:nth-child(1) {
                    top: ($default-diff * 6);
                    width: $default-width - $default-min * 4;
                    /* animation: scaleCard 100ms; */
                }

                &:nth-child(2) {
                    top: ($default-diff * 3);
                    width: $default-width - $default-min * 3;
                }

                &:nth-child(3) {
                    top: ($default-diff * 0);
                    width: $default-width - $default-min * 2;
                }

                @include breakpoint(largeDesktop) {
                    &:nth-child(1) {
                        top: ($default-diff * 8);
                    }

                    &:nth-child(2) {
                        top: ($default-diff * 4);
                    }

                    &:nth-child(3) {
                        top: ($default-diff * 0);
                    }
                }
            }

        }

        &:hover {
            >.buttons.prev {
                display: block;
                animation: bounceInLeft 200ms;
            }

            >.buttons.next {
                display: block;
                animation: bounceInRight 200ms;
            }
        }
    }

    .contact-detail-dashboard {
        .user {
            margin-bottom: 50px;

            .name {
                font-size: 24px;
                margin-bottom: 2rem;
                font-weight: 600;
            }
        }

        .content {
            .subject {
                font-size: 36px;
                font-weight: 600;
                margin-bottom: 1.5rem;
            }

            .message {
                font-size: 18px;
                margin-bottom: 4rem;
            }

            .timestamp {
                font-size: 14px;
            }
        }
    }

    .category-setting {
        ul {
            list-style-type: none;
        }

        .add-category {
            .new-category {
                padding: 1.5rem;
                background-color: white;
                border-radius: 1rem;
                margin-bottom: 2rem;
                margin-top: .5rem;

                @include breakpoint(desktop) {
                    width: 50%;
                }

                .title {
                    margin-bottom: 3rem;
                }

                .nc-img {
                    margin-bottom: 1.5rem;

                    .text {
                        margin-bottom: .5rem;
                    }

                    .img-placeholder {
                        width: 118px;
                        height: 118px;
                        background-color: #EDF1F2;
                        display: flex;
                        justify-content: center;
                        border-radius: 1rem;
                        align-items: center;

                        img {
                            width: 37px;
                            height: 37px;
                        }
                    }
                }

                .nc-name {
                    margin-bottom: 2rem;
                }

                .nc-buttons {
                    .btn {
                        font-weight: 500;
                        margin-right: 1rem;
                    }

                    .btn-primary {
                        color: white;
                    }
                }
            }
        }

        .sortable {
            padding-left: 0;

            ul {
                padding-left: 5rem;
            }

            .placeholder {
                width: 100%;
                filter: blur(10px);
                height: 80px;
                background-color: rgb(211, 211, 211);
            }

            .category-sort {
                display: flex;
                align-items: center;
                justify-content: space-between;
                box-shadow: 0px 4px 24px rgba(145, 186, 206, 0.05);
                padding: 1rem 1.5rem;
                background-color: white;
                border-radius: 1rem;
                margin-bottom: 1rem;

                .section {
                    display: flex;
                    align-items: center;

                    .cs-img {
                        margin-right: 2rem;
                        margin-left: 2rem;

                        img {
                            width: 72px;
                            height: 72px;
                            object-fit: contain;
                            border: 1px solid #D0E1E9;
                            border-radius: 10px;
                            padding: .25rem;
                        }
                    }

                    .cs-name {
                        font-weight: 600;
                    }

                    .cs-button {
                        .btn {
                            padding: 0;
                            width: 54px;
                            height: 54px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 42px;
                        }
                    }

                    .cs-more {
                        img {
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }

        @include breakpoint(untilTablet) {
            .sortable {
                ul {
                    padding-left: 2rem;
                }
            }
        }

        @include breakpoint(mobileonly) {
            .category-sort {
                flex-wrap: wrap;

                .section:first-child {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}