.events-page {
    .cta-events {
        margin-bottom: 4rem;

        .row {
            align-items: center;

            @include breakpoint(largeDesktop) {
                >div:first-child {
                    * {
                        width: 70%;
                    }

                    .btn {
                        width: auto;
                    }
                }
            }

            h5 {
                font-weight: 500;
                margin-bottom: 4rem;
            }

            h2 {
                margin-bottom: 1rem;
            }

            p {
                margin-bottom: 2rem;
            }

            img {
                width: 100%;
            }
        }
    }


    .filter-events {
        padding: 32px;
        border: 1px solid #E7E7E9;
        border-radius: 16px;

        .filter-title {
            color: #474747;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .form-check {
            color: #6D7588;

            &:not(:last-child) {
                margin-bottom: 28px;
            }
        }

        .form-control {
            border-color: #DBDEE2;
        }

        .section {
            margin-bottom: 1rem;
            padding-bottom: 1rem;

            &:not(:nth-last-child(2)) {
                border-bottom: 1px solid #E7E7E9;
            }
        }

        .btn {
            font-weight: bold;
            text-align: center;
            width: 100%;
            padding: 11px;
        }
    }
}


.upcoming {
    h4 {
        margin-bottom: 2rem;
    }

    .filter-mobile {
        display: none;
    }

    .item {
        align-items: center;
        margin-bottom: 2rem;

        .event-img {
            width: 100%;
            border-radius: 1rem;

            @include breakpoint(desktop) {
                padding-right: 2rem;
            }
        }

        h5 {
            margin-bottom: 18px;
        }

        p {
            margin-bottom: 28px;
        }

        .actions {
            display: flex;

            .btn:first-child {
                margin-right: 1.5rem;
            }

            .btn-gray {
                background: rgba(163, 163, 163, 0.15);
                padding: 12px;
            }
        }
    }


    @include breakpoint(untilTablet) {

        h4 {
            margin-bottom: 1rem;
        }

        .filter-events-section {
            display: none;
        }

        .filter-mobile {
            display: block;
        }

        .filter {
            margin-bottom: 1rem;
        }

        .filter-content {
            margin-top: 0;
        }

        .item {
            .event-img {
                margin-bottom: 1.5rem;
            }
        }
    }

}

.event-detail-page {
    .event-detail {
        @include breakpoint(desktop) {
            width: 90%;
            margin: auto
        }
    }

    .ed-title {
        margin-bottom: 2rem;
        text-align: center;

        h5 {
            font-weight: 500;
            margin-bottom: 28px;
        }
    }

    .ed-alert {
        margin-bottom: 2.5rem;

        .alert {
            margin-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 1rem;
            padding: 2rem;

            .alert-container {
                display: flex;
                align-items: center;
            }

            &.alert-warning {
                color: #BE6F10;
                background-color: #FFF5DF;
                border: 2px solid #FBBF33;
            }

            &.alert-danger {
                color: #FF0000;
                background-color: #FFE2E1;
                border: 2px solid #FF0000;
            }

            &.alert-info {
                color: #00A3FF;
                background-color: #DFF4FF;
                border: 2px solid #00A3FF;

                .alert-btn {
                    .btn {
                        color: #00A3FF;
                        border-color: #00A3FF;
                        display: flex;
                        align-items: center;
                    }

                    .next-arrow {
                        width: 6.68px;
                        height: 6.68px;
                        border-top: 1px solid #00A3FF;
                        border-left: 1px solid #00A3FF;
                        transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
                        margin-left: .75rem;
                    }
                }
            }

            &.alert-success {
                color: #00AA5B;
                background-color: #DFFFF0;
                border: 2px solid #00AA5B;
            }

            .alert-img {
                margin-right: 2rem;
            }

            .alert-text {
                h6 {
                    font-size: 18px;
                    margin-bottom: .75rem;
                }
            }
        }
    }

    .ed-header {
        text-align: center;
        margin-bottom: 4rem;


        h2 {
            margin-bottom: 46px;
        }

        .ed-img {
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .ed-content {
        padding-bottom: 100px;
        margin-bottom: 4rem;
        border-bottom: 1px solid #D0D0D0;

        .description {
            margin-bottom: 80px;

            h5 {
                color: #A4A4A4;
                font-weight: 400;
            }

            p,
            h5 {
                margin-bottom: 1.5rem;
            }

            .images {
                display: flex;
                margin-bottom: 3rem;

                img {
                    margin-right: 11px;
                }
            }
        }

        .info {
            @include breakpoint(untilTablet) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
            }

            .item {
                margin-bottom: 3rem;

                .info-title {
                    color: #848484;
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;

                    img {
                        margin-right: 1rem;
                    }
                }

                .info-desc {
                    font-weight: 600;
                }
            }
        }
    }

    .invite-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px;
        background-color: #F8FCFE;
        border-radius: 16px;
        margin-bottom: 66px;

        .il-text {
            display: flex;
            align-items: center;
            color: $success;

            img {
                margin-right: 1rem;
            }
        }
    }

    .ed-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;

        .back {
            display: flex;
            align-items: center;
            color: #646464;

            img {
                margin-right: 20px;
            }
        }

        .next {
            display: flex;
            align-items: center;

            .text {
                font-weight: bold;
                max-width: 250px;
                font-size: 18px;
                text-align: right;
            }

            img {
                margin-left: 1.5rem;
                max-height: 91px;
                object-fit: contain;
                border-radius: 6px;
            }
        }
    }
}



.people-join {
    .pj-users {
        max-height: 300px;
        overflow: auto;
    }

    h6 {
        margin-bottom: 1.5rem;
        font-weight: 500;
        font-size: 18px;
    }

    .pj-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        .pj-user {
            display: flex;
            align-items: center;
            font-weight: bold;

            img {
                width: 36px;
                height: 36px;
                margin-right: 1rem;
            }
        }

        .btn {
            padding: 12px 16px;
            border-radius: 12px;

            &.btn-outline-blue {
                margin-right: 12px;
            }
        }
    }
}

.add-event-page {
    .new-event {
        width: 70%;
        margin: auto;

        >h4 {
            text-align: center;
            margin-bottom: 50px;
        }
    }


    .form-group {

        &.textarea {
            margin-bottom: 2rem;
        }

        .images {
            display: flex;
            align-items: center;

            img {
                width: 20%;

                &:not(:last-child) {
                    margin-right: 1.5rem;
                }
            }
        }
    }

    .btn-groups {
        display: flex;
        justify-content: center;

        .btn {
            margin: 0 1rem;
            font-weight: bold;
        }
    }
}

.collectors-invite-modal {
    h6 {
        font-weight: 500;
    }

    .collectors-invite {
        .ci-item {
            margin-bottom: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .ci-user {
                display: flex;
                align-items: center;

                img {
                    margin-right: 1rem;
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }
}

.search {
    position: relative;
    margin-bottom: 24px;

    .search-img {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
}