h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-bottom: 0;
}

h2 {
    font-size: 48px;
    line-height: 145%;
}

h4 {
    font-size: 32px;
    line-height: 175%;
}


h5 {
    font-size: 24px;
    line-height: 145%;
}

p {
    margin: 0;
}

.bg-light {
    background-color: white !important;
}

.btn {
    padding: 14px 2rem;
    border-radius: 12px;
}

.form-control,
.form-select {
    border-radius: 8px;
    border-color: #DBDEE2;
    padding: .75rem;
}

.btn-more {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.title-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 43px;

    h2 {
        margin-bottom: 0;
    }
}

.bg-img {
    position: absolute;
    z-index: -1;

    @include breakpoint(untilTablet) {
        img {
            max-width: 100px;
        }
    }
}

.breadcrumbs {
    .container {
        display: flex;
        align-items: center;
    }

    .item {
        margin-right: 2rem;
        position: relative;
        display: block;
        color: #878787;
        font-size: 14px;

        &:last-child {
            color: #3C3C3C;
        }

        &:not(:last-child) {
            &:after {
                content: '/';
                right: -1rem;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                color: #878787;
                font-size: 12px;
            }
        }
    }
}

.title-page {
    .title {
        color: black;
    }
}

.filter {
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin-right: 1rem;
        }
    }
}

.counts {
    display: flex;
    align-items: center;

    img {
        margin-right: .5rem;
    }

    p span {
        color: #878787;
    }
}

.collections {
    .collection {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        margin-bottom: 20px;
        display: block;

        .item-img {
            img {
                border-radius: 10px 10px 0px 0px;
                width: 100%;
            }
        }

        .item-info {
            padding: 1rem;
            border-bottom: 1px solid #E8E8E8;
            margin-bottom: 12px;

            .item-title {
                font-weight: bold;
                color: black;
                margin-bottom: 1rem;
                display: flex;
                font-size: 14px;

                .text {
                    width: 78%;
                }

                .po {
                    background-color: $primary;
                    color: $secondary;
                    font-weight: bold;
                    text-transform: uppercase;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 12px;
                    border-radius: 8px;
                    font-size: 1rem;
                }
            }

            .info {
                display: flex;
                justify-content: space-between;

                .stats {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    .item {
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        color: #848484;
                        margin-bottom: .5rem;

                        &:first-child {
                            margin-right: 1.5rem;
                        }

                        span {
                            font-weight: 700;
                            color: #474747;
                        }

                        img {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        .item-user {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .75rem 1rem;
            padding-top: 0;

            .user {
                display: flex;
                align-items: center;
                font-size: 14px;

                img {
                    margin-right: .75rem;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }
            }

            .time {
                color: #848484;
                font-size: 12px;
            }
        }
    }
}

.vertical-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

    .list-menu {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;

        li {
            &:not(:last-child) {
                margin-right: 3rem;
            }

            a {
                color: #6E6D7A;
            }

            &.active {
                a {
                    font-weight: bold;
                    color: black;
                }
            }
        }
    }

    .filter-btn {
        .btn {
            display: flex;
            align-items: center;

            img {
                margin-right: 1rem;
            }
        }
    }
}

.paginations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 100px;

    .current-page {
        font-size: 14px;
        color: rgba(49, 53, 59, 0.68);
    }

    .pagination {
        margin-bottom: 0;

        .page-item {
            &.active {
                .page-link {
                    border: 1px solid #808080;
                    border-radius: 6px;
                    background-color: #F0F0F0;
                    font-weight: bold;
                }
            }

            &.disabled {
                .page-link {
                    opacity: 0.7;
                }
            }

            .page-link {
                color: rgba(53, 53, 53, 0.68);
                border: none;
                padding-top: 3px;
                padding-bottom: 3px;
                margin: 0 7px;

                &.prev {
                    img {
                        transform: rotate(180deg);
                    }
                }
            }
        }

    }
}


.profile-cat {
    margin-bottom: 2rem;
    color: #525252;
    display: flex;
    font-size: 14px;
    flex-wrap: wrap;
    justify-content: center;

    .item {
        position: relative;

        &:not(:last-child) {
            margin-right: 12px;

            &:after {
                content: '•';
                position: absolute;
                right: -8px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}



.form-group {
    margin-bottom: 12px;

    .form-label {
        margin-bottom: .5rem;
    }

    .input-icon {
        position: relative;

        img {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .images {
        display: flex;
        align-items: center;

        img {
            width: 20%;

            &:not(:last-child) {
                margin-right: 1.5rem;
            }
        }
    }
}