.cta {
    .container {
        background-color: $secondary;
        border-radius: 1rem;
        padding: 1rem;
        position: relative;
        color: $primary;

        @include breakpoint(desktop) {
            padding: 69px 100px;
            padding-bottom: 250px;
            margin-bottom: 271px;
        }

        @include breakpoint(untilTablet) {
            border-radius: 0;
            padding: 76px 1rem;
            padding-bottom: 220px;
            margin-bottom: 74px;
        }

        h1 {
            font-size: 60px;
            padding-right: 2rem;
            margin-bottom: 1.5rem;
            line-height: 84.25px;

            @include breakpoint(largeDesktop) {
                font-size: 64px;
                line-height: 94.25px;
            }

            @include breakpoint(untilTablet) {
                font-size: 48px;
                line-height: 145%;
                letter-spacing: -0.002em;
            }
        }

        p {
            padding-right: 12rem;
            margin-bottom: 28px;
        }

        .image-1 {
            position: absolute;
            top: 0;
            left: 30%;
        }

        .image-line {
            position: absolute;
            right: 62px;
            top: 0;
        }

        .image-2 {
            position: absolute;
            bottom: -210px;
            left: 50%;
            transform: translateX(-50%);
        }

        .image-mobile {
            display: none;
        }

        @include breakpoint(untilTablet) {

            .image-1,
            .image-line,
            .image-2 {
                display: none;
            }

            .image-mobile {
                display: block;
                position: absolute;
                bottom: -70px;
                left: 46.5%;
                transform: translateX(-50%);
                width: 100vw;

                img {
                    width: 110%;
                }
            }
        }
    }
}


.search {
    .container {
        align-items: center;
        background: #F6F9FF;
        border-radius: 2rem;
        padding: 36px 38px;
        margin-bottom: 80px;

        .popular {
            display: flex;
            align-items: center;

            .form-select {
                background-color: transparent;
                text-align: center;
            }
        }

        .search-bar {
            display: flex;
            align-items: center;
            position: relative;

            .form-control {
                border-radius: 250px;
                padding: 36px 57px;
            }

            .btn {
                border-radius: 50%;
                height: 78px;
                width: 78px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 11px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .tops {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;

            .item {
                text-align: center;

                img {
                    margin-bottom: 12px;
                }

                .name {
                    font-size: 12px;
                }
            }
        }
    }
}

.categories {
    margin-bottom: 127px;
    position: relative;

    .bg-img {
        left: 0;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

        h4 {
            font-size: 32px;
        }
    }

    .item {
        background: linear-gradient(180deg, rgba(246, 249, 255, 0) 0%, #F6F9FF 100%);
        border-radius: 16px;
        padding: 24px;
        padding-top: 3px;
        margin-bottom: 26px;
        display: block;

        .cat-img {
            margin-bottom: 27px;
            text-align: center;
            padding: .75rem;
            padding-bottom: 0;

            img {
                width: 100%;
            }
        }

        .cat-info {
            display: flex;
            justify-content: space-between;
        }
    }

    @include breakpoint(untilTablet) {
        .item {
            .cat-info {
                display: none;
            }
        }
    }
}

.features {
    margin-bottom: 70px;
    position: relative;

    .bg-img {
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        &.second {
            left: auto;
            right: 0;
            top: 45%;
        }
    }

    @include breakpoint(untilTablet) {
        .value-img {
            img {
                width: 100%;
            }
        }
    }

    .subtitle {
        margin-bottom: 3rem;
        display: flex;
        align-items: center;

        img {
            margin-right: 1rem;
        }
    }

    .item {
        margin-bottom: 60px;
        align-items: center;
    }

    h2 {
        span {
            color: $secondary;
        }
    }

    p {
        color: #878787;
        margin-bottom: 2rem;
        width: 60%;
    }

    .images {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: auto;
        }
    }

    .last-feature {
        p {
            width: 40%;
        }
    }
}

.sign-up {
    .container {
        display: flex;
        background-color: #152139;
        color: white;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 100px 0;
        border-radius: 2rem;
        margin-bottom: -275px;
        position: relative;
        z-index: 2;

        h2 {
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 60px;
            width: 25%;
            text-align: center;
        }

        .btn {
            padding: 28px 147px;
            font-size: 24px;
        }
    }
}

.apps {
    background-color: #000C25;
    color: white;
    padding-top: 450px;
    padding-bottom: 200px;
    position: relative;
    z-index: 1;

    .bg-img {
        left: 0;
        z-index: 0;
        top: -8rem;

        &.second {
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &.third {
            left: auto;
            right: 0;
            top: auto;
            bottom: 0;
        }
    }

    .container {
        .row {
            align-items: center;
        }

        .apps-img {
            img {
                padding-right: 4rem;
            }
        }

        h2 {
            color: #BCCBE8;
            margin-bottom: 2rem;

            span {
                color: $secondary;
            }
        }

        p {
            margin-bottom: 2rem;
        }

        .stores {
            display: flex;

            img {
                margin-right: 1rem;
            }
        }
    }
}