.mobile {
    font-size: 14px;

    h6 {
        margin-bottom: 1rem;
        font-size: 18px;
    }

    .likes {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        color: #848484;

        span {
            color: #130F26;
            font-weight: bold;
            margin-right: 4px;
        }

        img {
            margin-right: 8px;
        }
    }

    .discussions {
        font-size: 12px;
        margin-bottom: 8px;
        color: #848484;

        .user {
            a {
                font-weight: bold;
                color: #474747;
            }
        }
    }


    .search {
        padding: 12px 16px;
        position: relative;
        margin-bottom: 0;
        padding-bottom: 12px;

        .search-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 2rem;
        }

        .form-control {
            padding: 18px;
            padding-left: 3rem;
            background-color: #F6F9FF;
            border-color: transparent;
            border-radius: 12px;
            font-size: 12px;
        }
    }

    .categories {
        margin-bottom: 2rem;

        .item {
            padding: 15px 20px;
            padding-bottom: 32px;
            margin-bottom: 10px;

            .cat-img {
                margin-bottom: 1.5rem;
            }
        }
    }


    .images-explore {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
        padding: 2px;

        img {
            width: 100%;
        }
    }

}

.mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;

    .logo {
        img {
            height: 24px;
            width: auto;
        }
    }

    .page {
        font-weight: bold;
        font-size: 18px;
        color: black;
    }
}

.detail-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;

    .back {
        padding: 10px 14px;
    }

    .title {
        font-weight: bold;
        text-align: center;
        font-size: 18px;
    }

    .fill {
        width: 39px;
    }
}

.tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: auto;

    .tab {
        text-align: center;
        padding-bottom: 1rem;
        margin-top: 12px;
        color: #848484;
        position: relative;

        &.active {
            color: black;
            font-weight: bold;

            &:after {
                width: 100%;
                content: '';
                background: #00FFB9;
                border-radius: 6px 6px 0px 0px;
                height: 4px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.activities {
    font-size: 14px;

    .activity-item {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);

        .ai-user {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 16px;

            .user {
                display: flex;
                align-items: center;

                .img {
                    margin-right: 12px;

                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }
                }

                .name {
                    margin-right: 8px;
                    font-weight: bold;
                }

                .time {
                    font-size: 10px;
                }
            }
        }

        .ai-img {
            img {
                width: 100%;
            }
        }

        .ai-content {
            padding: 12px;
            padding-bottom: 20px;

            .ai-actions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1rem;

                .left-side {
                    display: flex;
                    align-items: center;

                    .icon:not(:last-child) {
                        margin-right: 1rem;
                    }
                }

                .btn {
                    padding: 10px 16px;
                    border-radius: 2rem;
                    font-weight: 600;
                    color: black;
                }
            }

            .ai-title {
                font-weight: bold;
                margin-bottom: 8px;
            }

            .ai-discussions {
                color: #848484;
                font-size: 12px;
            }
        }
    }
}

.events {
    .event-item {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);

        .ei-img {
            img {
                width: 100%;
            }
        }

        .ei-content {
            padding: 1rem;
            padding-bottom: 20px;

            .ei-actions {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;

                .joined {
                    color: #848484;

                    img {
                        margin-right: 8px;
                    }

                    span {
                        color: #474747;
                        font-weight: bold;
                        margin-right: 4px;
                    }
                }
            }

            .ei-title {
                font-weight: bold;
                margin-bottom: 8px;
            }

            .ei-desc {
                color: #848484;

                .date {
                    font-weight: bold;
                    color: #474747;
                    margin-right: 4px;
                }
            }
        }
    }
}

.collection-detail {

    .cd-content {
        padding: 1rem;
    }

    .cd-img {
        margin: 0 -1rem;

        img {
            width: 100%;
        }
    }

    .cd-actions {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icons {
            display: flex;
            justify-content: flex-end;

            .icon {
                margin-left: 2rem;
            }
        }
    }

    .cd-title {
        font-weight: bold;
        padding: 12px 0;
    }

    .cd-users {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        .user {
            display: flex;
            align-items: center;

            .img {
                margin-right: 12px;

                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }
            }

            .name {
                font-weight: bold;
                color: #474747;
            }
        }

        .time {
            font-size: 12px;
            color: #848484;
        }
    }

    .collection-owned {
        padding: 0 1rem;
        margin-bottom: 2rem;

        .co-img {
            img {
                width: 100%;
            }
        }
    }

    .story {
        padding: 0 1rem;
        margin-bottom: 2rem;

        p {
            color: black;
        }
    }

    .cd-discussions {
        padding: 0 1rem;
        padding-bottom: 2rem;

        .title {
            font-weight: bold;
            color: #474747;
            margin-bottom: 1rem;
        }

        .user {
            font-size: 12px;
            margin-bottom: 1.5rem;

            a {
                color: #474747;
                font-weight: bold;
            }
        }

        .add-comment {
            color: $success;
            font-weight: bold;
            font-size: 12px;
        }
    }

    .cd-nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 12px 19px;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
        padding-bottom: 2rem;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        gap: 1rem;

        .btn {
            padding: 11px;
            font-weight: bold;
        }
    }
}

.event-detail {
    .ed-content {
        padding: 1rem;
    }

    .ed-title {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }

    .ed-img {
        margin: 0 -1rem;
        margin-bottom: 2rem;

        img {
            width: 100%;
        }
    }

    .ed-info {
        margin-bottom: .5rem;

        .item {
            margin-bottom: 1.5rem;

            .info-title {
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
                color: #848484;

                img {
                    margin-right: 14px;
                }
            }

            .info-desc {
                font-weight: 600;
                font-size: 1rem;
            }
        }
    }

    .ed-text {
        margin-bottom: 2rem;

        .subtitle {
            color: #A4A4A4;
            margin-bottom: 2rem;
            font-size: 1rem;
        }
    }

    .images {
        margin-bottom: 20px;

        img {
            width: 100%;
            margin-bottom: 12px;
        }
    }

    .ed-join {
        padding-bottom: 2rem;

        .btn {
            width: 100%;
        }
    }

}

.collectors {
    padding: 1rem;

    .collector-item {
        margin-bottom: 24px;

        .top-section {
            margin-bottom: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .user {
                display: flex;
                align-items: center;

                img {
                    margin-right: 1rem;
                    width: 58px;
                    height: 58px;
                    border-radius: 50%;
                }

                .name {
                    font-weight: bold;
                    font-size: 1rem;
                    margin-bottom: 8px;
                }

                .collections {
                    color: #898989;
                    font-size: 12px;
                }
            }

            .follow {
                .btn {
                    padding: 6px 1rem;
                    border-radius: 2rem;
                    font-size: 12px;
                }
            }
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            .img {
                &:first-child {
                    img {
                        border-radius: 6px 0px 0px 6px;
                    }
                }

                &:last-child {
                    img {
                        border-radius: 0 6px 6px 0;
                    }
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

.collector {
    .co-user {
        margin-bottom: 2rem;
        text-align: center;
        margin-top: 2rem;

        .user-img {
            margin-bottom: 1rem;

            img {
                width: 86px;
                height: 86px;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .user-name {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: .5rem;
        }

        .profile-cat {
            color: #898989;
            font-size: 12px;
            margin-bottom: 1rem;
        }

        .user-follow {
            margin-bottom: 2rem;

            .btn {
                padding: 9px 13px;
                border-radius: 2rem;
            }
        }

        .socials {
            display: flex;
            justify-content: center;

            .icon {
                margin: 0 12px;
            }
        }
    }
}

.my-assets {
    margin-top: 24px;
    padding: 0 1rem;

    .ma-img {
        margin-bottom: 2rem;

        img {
            width: 100%;
        }
    }

    .collection-value {
        .cv-title {
            margin-bottom: 10px;
        }

        .cv-price {
            p {
                font-size: 12px;
                color: #797979;
            }

            h6 {
                margin-bottom: 0;
                font-size: 1rem;
            }
        }
    }
}

.login {
    padding: 2rem 1rem;

    .img-logo {
        text-align: center;
        margin-bottom: 2rem;

        img {
            height: 24px;
        }
    }

    .si-content {
        h4 {
            font-size: 28px;
            line-height: 145%;
        }

        .btn-groups {
            .btn {
                border-radius: 2rem;
            }
        }
    }
}