.mobile {
    font-size: 14px;

    h6 {
        margin-bottom: 1rem;
        font-size: 18px;
    }

    .btn {
        font-size: 14px;
    }

    .body-wrapper {
        padding-bottom: 80px;
    }

    .icon-text {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        color: #848484;
        font-size: 12px;

        span {
            color: #130F26;
            font-weight: bold;
            margin-right: 4px;
        }

        img {
            margin-right: 8px;
        }
    }

    .discussions {
        font-size: 12px;
        margin-bottom: 8px;
        color: #848484;

        .user {
            a {
                font-weight: bold;
                color: #474747;
            }
        }
    }



    .info-count {
        position: absolute;
        top: 12px;
        right: 12px;
        background: rgba(0, 0, 0, 0.16);
        backdrop-filter: blur(24px);
        border-radius: 68px;
        color: white;
        padding: 10px 12px;
    }

    .info-type {
        position: absolute;
        bottom: 12px;
        left: 12px;
        background: rgba(0, 0, 0, 0.16);
        backdrop-filter: blur(24px);
        border-radius: 68px;
        color: white;
        padding: 10px 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 20px;
        }
    }


    .search {
        padding: 12px 16px;
        position: relative;
        margin-bottom: 0;
        padding-bottom: 12px;

        .search-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 2rem;
        }

        .form-control {
            padding: 18px;
            padding-left: 3rem;
            background-color: #F6F9FF;
            border-color: transparent;
            border-radius: 12px;
            font-size: 12px;
        }
    }

    .categories {
        margin-bottom: 2rem;

        .item {
            padding: 15px 20px;
            padding-bottom: 32px;
            margin-bottom: 10px;

            .cat-img {
                margin-bottom: 1.5rem;
            }
        }

        .cat-info {
            h6 {
                font-size: 14px;
                margin-bottom: 0;
            }
        }
    }


    .images-explore {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
        padding: 2px;

        img {
            width: 100%;
        }
    }

    .user.collections {
        display: flex;
        align-items: center;

        img {
            margin-right: 1rem;
            width: 58px;
            height: 58px;
            border-radius: 50%;
        }

        .name {
            font-weight: bold;
            font-size: 1rem;
            margin-bottom: 8px;
        }

        .collections {
            color: #898989;
            font-size: 12px;
        }
    }

    .offcanvas .offcanvas-body {
        align-items: flex-start;
    }

    .offcanvas-notif {
        .detail-nav {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .follows {
        padding: 1.5rem 1rem;

        .follow-item {
            margin-bottom: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .fo-user {
                display: flex;
                align-items: center;

                img {
                    width: 58px;
                    height: 58px;
                    border-radius: 50%;
                    margin-right: 18px;
                }

                .name {
                    font-weight: 500;
                    margin-bottom: 2px;
                    color: black;
                }

                .username {
                    color: #898989;
                    font-size: 12px;
                }
            }

            .fo-btn {
                .btn {
                    border-radius: 2rem;
                    padding: 5px 18px;
                    font-size: 12px;
                }
            }
        }
    }

    .faq {
        .faq-header {
            border-radius: 0;
            padding-top: 40px;
            position: relative;
            padding-bottom: 2rem;

            .title {
                font-weight: bold;
                font-size: 2rem;
                margin-bottom: 21px;
            }

            .search {
                margin-bottom: -2rem;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                width: 95vw;
                bottom: -8px;

                .form-control {
                    background-color: white;
                    border: 1px solid #E9E9E9;
                }
            }
        }

        .accordion {
            padding-top: 2rem;
        }
    }

    &.collection-detail {
        >.container {
            padding: 0 16px;
        }

        .collection-detail-content {
            margin-bottom: 1rem;
        }

        .cd-img {
            margin: 0 -1rem;

            img {
                width: 100%;
            }
        }

        .cd-content {
            margin-bottom: 1rem;
        }

        .cd-actions {
            padding: 1rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icons {
                display: flex;
                justify-content: flex-end;

                .icon {
                    margin-left: 2rem;
                }
            }
        }

        .cd-title {
            h4 {
                font-weight: bold;
                padding: 12px 0;
                font-size: 24px;
                line-height: 36px;
                padding: 0;
            }
        }

        .cd-users {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
            margin-top: 1rem;

            .user {
                display: flex;
                align-items: center;

                .img {
                    margin-right: 12px;

                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }
                }

                .name {
                    font-weight: bold;
                    color: #474747;
                }
            }

            .time {
                font-size: 12px;
                color: #848484;
            }
        }

        .collection-owned {
            margin-bottom: 2rem;

            .co-img {
                img {
                    width: 100%;
                }
            }
        }

        .story {
            margin-bottom: 2rem;

            p {
                color: black;
            }
        }

        .story-comments {
            h5 {
                font-size: 24px;
            }
        }

        .value-tracker {
            margin-bottom: 2rem;

            h4 {
                font-size: 24px;
            }
        }

        .cd-discussions {
            padding-bottom: 7rem;

            .title {
                font-weight: bold;
                color: #474747;
                margin-bottom: 1rem;
            }

            .user {
                font-size: 12px;
                margin-bottom: 1.5rem;

                a {
                    color: #474747;
                    font-weight: bold;
                }
            }

            .add-comment {
                color: $success;
                font-weight: bold;
                font-size: 12px;
            }
        }

        .cd-nav {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 12px 19px;
            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
            padding-bottom: 2rem;
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: white;
            gap: 1rem;

            .btn {
                padding: 11px;
                font-weight: bold;
            }
        }
    }

    &.add-event-page {
        .text-muted {
            color: #98A2B3 !important;
            font-size: 13px;
        }

        .form-label {
            font-size: 16px;
        }

        .form-control,
        .form-select {
            font-size: 14px;

            &::placeholder {
                color: #D0D5DD;
                opacity: 1;
            }

            &:-ms-input-placeholder {
                color: #D0D5DD;
            }

            &::-ms-input-placeholder {
                color: #D0D5DD;
            }
        }
    }

    &.add-collection {
        >.container {
            padding: 0 16px;
        }

        h4 {
            font-size: 24px;
            line-height: 1;
        }

        .form-label {
            font-size: 16px;
        }

        .form-select,
        .form-control {
            font-size: 14px;
        }

        .cl-item {
            display: block;

            .cl-content {
                flex-direction: row;
                height: auto;

                .cl-img {
                    img {

                        width: 76px;
                        height: 76px;
                        object-fit: cover;
                    }
                }
            }
        }

        .btn-secondary {
            margin-right: 0;
        }
    }

    .steps {
        margin-top: 24px;
    }

}

.mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;

    .logo {
        img {
            height: 24px;
            width: auto;
        }
    }

    .hamburger,
    .notif {
        a {
            padding: 12px;
        }
    }

    .page {
        font-weight: bold;
        font-size: 18px;
        color: black;
    }
}

.detail-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    width: 100%;

    .back {
        padding: 10px 14px;

        .btn {
            padding: 0;
        }
    }

    .title {
        font-weight: bold;
        text-align: center;
        font-size: 18px;
    }

    .fill {
        width: 39px;
    }

    &.nav-faq {
        background-color: #ECF2FF;
    }
}

.tabs {
    display: flex;
    overflow-x: auto;
    align-items: center;
    margin: auto;
    padding: 0 12px;
    padding-bottom: 10px;

    .tab {
        text-align: center;
        padding: 12px 16px;
        margin-top: 12px;
        color: #98A2B3;
        border: 1px solid #EAECF0;
        border-radius: 12px;
        margin-right: 8px;
        position: relative;

        &.active {
            color: $primary;
            font-weight: bold;
            background: #00FFB9;
        }
    }
}

.bottomsheet {

    .modal-dialog {
        bottom: 0;
        position: absolute;
        margin: 0;
        width: 100%;
        transform: translate(0, 100px) !important;

        .modal-content {
            border-radius: 24px 24px 0 0;

            .modal-body {
                padding-left: 0;
                padding-right: 0;
                padding-top: 2rem;
                position: relative;

                &:after {
                    content: '';
                    width: 20%;
                    height: 3px;
                    border-radius: 1rem;
                    background-color: #797979;
                    position: absolute;
                    top: 1rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }


            .bs-item {
                width: 100%;
                padding: 1rem;
                padding-top: 0;

                &.red {
                    color: #FF0000;
                }

                a {
                    display: flex;
                    align-items: center;
                    font-size: 1rem;

                    img {
                        margin-right: .5rem;
                        filter: brightness(0) invert(0.3);
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 1rem;
                    border-bottom: 1px solid #ececec;
                }
            }
        }
    }

    &.show {
        .modal-dialog {
            transform: none !important;
        }
    }
}


.feed-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;

    .more {
        .btn {

            &:active,
            &:focus,
            &:hover,
            &:focus-visible {
                box-shadow: none;
                border: none;
            }
        }
    }

    .feed-user {
        display: flex;
        align-items: center;

        .user-img {
            margin-right: 12px;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
        }

        .user-name {
            margin-right: 8px;
            font-weight: bold;
        }

        .user-time {
            color: #848484;

            span {
                font-weight: bold;
            }

            font-size: 10px;
        }
    }
}

.activities {
    font-size: 14px;

    .activity-item {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);


        .ai-img {
            padding-top: 100%;
            position: relative;

            >img {
                height: 100%;
                width: 100%;
                position: absolute;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }

        .ai-content {
            padding: 16px;
            padding-bottom: 20px;

            .ai-actions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1rem;

                .left-side {
                    color: $success;
                    font-size: 18px;
                    font-weight: 500;

                    svg {
                        width: 12px;
                        height: 12px;
                        margin-right: 4px;

                        path {
                            fill: $success;
                        }
                    }
                }

                .right-side {
                    display: flex;
                    align-items: center;
                    justify-content: end;

                    .btn {
                        padding: 10px 16px;
                        border-radius: 16px;
                        font-weight: 600;
                        font-size: 12px;
                        margin-left: 6px;
                        display: flex;
                        align-items: center;
                        font-size: 10px;
                        height: 40px;
                    }

                    .btn-outline-light {
                        border-radius: 12px;
                        border-color: #D0D5DD;
                        padding: 8px 12px;
                        color: #101828;

                        &:hover,
                        &:focus {
                            color: white;
                        }

                        img {
                            margin-right: 8px;
                            height: 24px;
                        }
                    }

                }
            }

            .ai-title {
                font-weight: bold;
                margin-bottom: 8px;
                display: flex;
                justify-content: space-between;
            }

            .ai-description {
                color: #848484;
                font-size: 12px;
                margin-bottom: 12px;

                .see-more {
                    color: #00AB7C;
                }
            }

            .ai-user {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #EAECF0;
                margin: 0 -16px;
                padding: 0;
                padding-right: 16px;

                .user {
                    display: flex;
                    align-items: center;

                    .user-info {
                        margin-right: 12px;
                        text-align: right;

                        .user-name {
                            color: #4a4a4a;
                            font-size: 12px;
                        }

                        .user-time {
                            color: #848484;
                            font-size: 10px;
                        }
                    }

                    .user-image {
                        border-radius: 50%;
                        width: 32px;
                        height: 32px;
                        position: relative;

                        .user-badge {
                            position: absolute;
                            border-radius: 50%;
                            border: 1.5px solid white;
                            background-color: $secondary;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 12px;
                            height: 12px;
                            top: 0;
                            right: -4px;

                            img {
                                width: 4px;
                            }
                        }
                    }
                }
            }

            .ai-socials {
                display: flex;
                justify-content: space-between;
                padding-top: 12px;

                .icon-text {
                    margin-right: 0;
                }

                .emoji {
                    display: flex;
                    align-items: center;
                    margin-right: 6px;

                    img {
                        border: 1px solid white;
                        border-radius: 50%;
                        margin: 0;

                        &:not(:first-child) {
                            margin-left: -12px;
                        }
                    }
                }
            }
        }
    }
}

#own {
    .modal-header {
        justify-content: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid #EAECF0;

        h5 {
            font-size: 1rem;
        }
    }

    .text {
        text-align: center;
        font-size: 1rem;
        color: #98A2B3;
        margin-bottom: 24px;
    }

    .modal-body {
        padding: 22px 24px 16px;
        border-bottom: 1px solid #EAECF0;
    }

    .modal-footer {
        text-align: center;
        justify-content: center;

        .btn {
            width: 100%;
            font-weight: bold;
            font-size: 1rem;
        }
    }
}

.add-feed {
    .detail-nav {

        &.tc {
            .back {
                width: auto;
            }

            .fill {
                .btn {
                    font-size: 1rem;
                }
            }
        }

        .back {
            width: 20%;
        }

        .title {
            font-size: 24px;
            font-weight: 600;
        }

        .search {
            padding: 0;
            width: 100%;
            margin-right: 8px;

            .form-control {
                padding: 10px;
                width: 100%;
                padding-left: 32px;
                border: 1px solid #EAECF0;
                background-color: white;
            }

            .search-img {
                left: 10px;
            }
        }

        .fill {
            width: 20%;
            text-align: right;

            .btn {
                font-weight: bold;
                padding: 6px 12px;
                display: flex;
                align-items: center;

                .count {
                    color: white;
                    height: 24px;
                    width: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: $primary;
                    margin-right: 8px;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 1;
                }
            }
        }
    }

    .images-container {
        .selected-img {
            padding-top: 100%;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .images {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1px;

            .img {
                padding-top: 100%;
                position: relative;

                &:empty {
                    background-color: #98A2B3;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .add-feed-data {
        padding: 16px;

        .user {
            display: inline-flex;
            align-items: center;
            font-weight: bold;
            margin-bottom: 24px;

            span {
                font-weight: 400;
                color: #848484;
                margin-left: 3px;
                font-size: 12px;
            }

            img {
                margin-right: 12px;
                border-radius: 50%;
                width: 32px;
                height: 32px;
            }
        }

        .add-feed-img {
            padding-top: 100%;
            position: relative;
            margin-bottom: 24px;

            >img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 8px;
            }
        }

        .add-feed-footer {
            display: flex;
            justify-content: space-between;
            padding: 32px 0;
            border-top: 1px solid #EAECF0;
            color: #101828;
            font-weight: 500;
            font-size: 1rem;
        }
    }

    .tag-collections {
        padding: 16px;

        .tc-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;

            .item-found {
                color: #101828;
                font-weight: 500;
                font-size: 1rem;

                span {
                    color: #98A2B3;
                }
            }

            .action {
                display: flex;

                img:last-child {
                    margin-left: 32px;
                }
            }
        }

        .tc-items {
            .item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 28px;

                .item-info {
                    display: flex;
                    margin-right: 24px;
                    font-size: 14px;
                    font-weight: 600;
                    color: #475467;

                    img {
                        margin-right: 12px;
                        height: 48px;
                        width: 48px;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }

                .item-action {
                    .btn {
                        padding: 7px 12px;
                        border-radius: 2rem;
                        display: flex;
                        font-size: 12px;
                        align-items: center;

                        img {
                            margin-right: 4px;
                        }
                    }
                }
            }
        }
    }
}

.events {
    .event-item {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);

        .ei-img {
            img {
                width: 100%;
            }
        }

        .ei-content {
            padding: 1rem;
            padding-bottom: 20px;

            .ei-actions {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;

                .joined {
                    color: #848484;

                    img {
                        margin-right: 8px;
                    }

                    span {
                        color: #474747;
                        font-weight: bold;
                        margin-right: 4px;
                    }
                }
            }

            .ei-title {
                font-weight: bold;
                margin-bottom: 8px;
            }

            .ei-desc {
                color: #848484;

                .date {
                    font-weight: bold;
                    color: #474747;
                    margin-right: 4px;
                }
            }
        }
    }
}

.event-detail {
    .ed-content {
        padding: 1rem;
    }

    .ed-title {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }

    .ed-img {
        margin: 0 -1rem;
        margin-bottom: 2rem;

        img {
            width: 100%;
        }
    }

    .ed-info {
        margin-bottom: .5rem;

        .item {
            margin-bottom: 1.5rem;

            .info-title {
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
                color: #848484;

                img {
                    margin-right: 14px;
                }
            }

            .info-desc {
                font-weight: 600;
                font-size: 1rem;
            }
        }
    }

    .ed-text {
        margin-bottom: 2rem;

        .subtitle {
            color: #A4A4A4;
            margin-bottom: 2rem;
            font-size: 1rem;
        }
    }

    .images {
        margin-bottom: 20px;

        img {
            width: 100%;
            margin-bottom: 12px;
        }
    }

    .ed-join {
        padding-bottom: 2rem;

        .btn {
            width: 100%;
        }
    }

}

.collectors {
    padding: 1rem;
    margin-bottom: 0;

    .collector-item {
        display: block;
        margin-bottom: 24px;

        .top-section {
            margin-bottom: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .user {
                display: flex;
                align-items: center;

                img {
                    margin-right: 1rem;
                    width: 58px;
                    height: 58px;
                    border-radius: 50%;
                }

                .name {
                    font-weight: bold;
                    font-size: 1rem;
                    margin-bottom: 8px;
                }

                .collections {
                    color: #898989;
                    font-size: 12px;
                }
            }

            .follow {
                .btn {
                    padding: 6px 1rem;
                    border-radius: 2rem;
                    font-size: 12px;
                }
            }
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            .img {
                &:first-child {
                    img {
                        border-radius: 6px 0px 0px 6px;
                    }
                }

                &:last-child {
                    img {
                        border-radius: 0 6px 6px 0;
                    }
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

.collector {
    .co-user {
        margin-bottom: 2rem;
        text-align: center;
        margin-top: 2rem;

        .user-img {
            margin-bottom: 1rem;

            img {
                width: 86px;
                height: 86px;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .user-name {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: .5rem;
        }

        .profile-cat {
            color: #898989;
            font-size: 12px;
            margin-bottom: 1rem;
        }

        .user-follow {
            margin-bottom: 2rem;

            .btn {
                padding: 9px 13px;
                border-radius: 2rem;
            }
        }

        .socials {
            display: flex;
            justify-content: center;

            .icon {
                margin: 0 12px;

                img {
                    width: 24px;
                    height: auto;
                }
            }
        }
    }
}

.my-assets {
    margin-top: 24px;
    padding: 0 1rem;
    margin-bottom: 0;

    .ma-values {
        margin-bottom: 1rem;
    }

    .ma-img {
        margin-bottom: 2rem;

        img {
            width: 100%;
        }
    }

    .collection-value {
        .cv-title {
            margin-bottom: 10px;
        }

        .cv-price {
            p {
                font-size: 12px;
                color: #797979;
            }

            h6 {
                margin-bottom: 0;
                font-size: 1rem;
            }
        }
    }
}

.login {
    padding: 2rem 1rem;

    .img-logo {
        text-align: center;
        margin-bottom: 2rem;

        img {
            height: 24px;
        }
    }

    .si-content {
        h4 {
            font-size: 28px;
            line-height: 145%;
        }

        .btn-groups {
            .btn {
                border-radius: 2rem;
            }
        }
    }
}

.notification {
    .notif-section {
        margin-bottom: 2rem;

        .notif-title {
            font-weight: bold;
            margin-bottom: 12px;
        }

        .notif-item {
            display: flex;
            align-items: center;
            margin-bottom: 12px;

            .notif-img {
                margin-right: 18px;

                img {
                    width: 58px;
                    height: 58px;
                    border-radius: 50%;
                }
            }

            .notif-text {
                color: black;
                font-weight: 500;

                span {
                    font-weight: 400;
                    color: #898989;
                    margin-left: .5rem;
                    font-size: 12px;
                }
            }
        }
    }
}

.sidebar-mobile {
    width: 90vw !important;

    .offcanvas-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .top-section {
        padding-top: 4rem;

        .user {
            padding: 0 1rem;
            margin: 0 -1rem;
            padding-bottom: 24px;
            margin-bottom: 2rem;
            border-bottom: 1px solid #d9d9d9;
            width: 90vw;
        }

        .menu {
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    margin-bottom: 1.5rem;

                    a {
                        color: #4D4D4D;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .bottom-section {
        .switch {
            padding: 0 1rem;
            margin: 0 -1rem;
            padding-bottom: 24px;
            margin-bottom: 16px;
            border-bottom: 1px solid #d9d9d9;
            width: 90vw;

            .dropdown-switch {
                padding: 0;
                justify-content: start;

                .form-check {
                    margin: 0 .5rem;
                    margin-top: 0;
                    margin-left: 4px;
                }
            }
        }

        .logout {
            color: $danger;
            font-weight: 600;
        }
    }
}

.create-new-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 67px);
    content: '';
    background: rgba(0, 0, 0, 0.48);
    backdrop-filter: blur(16px);
}

.create-new {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 24px;
    width: 80vw;

    &::after {
        content: "";
        background: transparent;
        border-radius: 5px;
        transform: translateX(-50%);
        bottom: -20px;
        left: 50%;
        height: 13px;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-top: 21px solid white;
        width: 37px;
        position: absolute;
        z-index: 1;
    }

    .cn-header {
        text-align: center;
        font-weight: bold;
        color: #101828;
        padding: 20px;
        padding-bottom: 12px;
        border-bottom: 1px solid #EAECF0;
    }

    .text {
        color: #475467;
        font-weight: 600;
        font-size: 13px;
    }

    .cn-body {
        display: flex;
        justify-content: space-around;
        padding: 24px;

        .item {
            .item-img {
                background-color: #EAECF0;
                border-radius: 1rem;
                margin: auto;
                margin-bottom: 11px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 64px;
                width: 64px;

                img {
                    width: 22px;
                    height: 22px;
                }
            }

        }
    }

    .cn-other {
        display: flex;
        align-items: center;
        padding: 16px 30px;
        border-top: 1px solid #EAECF0;

        .other-img {
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 16px;
            background-color: #EAECF0;
            border-radius: 16px;

            img {
                width: 24px;
                height: 24px;
            }
        }

        .text {
            .desc {
                color: #98A2B3;
                font-size: 11px;
            }
        }
    }
}

.bottom-nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    padding: 10px 25px;
    background-color: white;
    width: 100%;
    box-shadow: 0px -4px 24px rgba(0, 0, 0, 0.05);

    .icon {
        width: 15%;

        a {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &.active {
            svg {
                path {
                    stroke: #00BF8B;
                }
            }

            .text {
                color: #00BF8B;
            }
        }

        &.add {
            .icon-svg {
                width: 32px;
                height: 32px;
                background-color: $secondary;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    margin-top: -2px;
                    transition: .2s ease;
                }
            }

            &.active {
                .icon-svg {

                    background-color: #101828;
                }

                svg {
                    transform: rotate(45deg);

                    path {
                        stroke: white;
                    }
                }
            }
        }

        .text {
            font-size: 10px;
        }

        .icon-svg {
            height: 24px;
            margin-bottom: 8px;
            width: auto;
        }
    }
}