.mobile {
    font-size: 14px;

    h6 {
        margin-bottom: 1rem;
        font-size: 18px;
    }

    .body-wrapper {
        padding-bottom: 100px;
    }

    .likes {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        color: #848484;

        span {
            color: #130F26;
            font-weight: bold;
            margin-right: 4px;
        }

        img {
            margin-right: 8px;
        }
    }

    .discussions {
        font-size: 12px;
        margin-bottom: 8px;
        color: #848484;

        .user {
            a {
                font-weight: bold;
                color: #474747;
            }
        }
    }


    .search {
        padding: 12px 16px;
        position: relative;
        margin-bottom: 0;
        padding-bottom: 12px;

        .search-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 2rem;
        }

        .form-control {
            padding: 18px;
            padding-left: 3rem;
            background-color: #F6F9FF;
            border-color: transparent;
            border-radius: 12px;
            font-size: 12px;
        }
    }

    .categories {
        margin-bottom: 2rem;

        .item {
            padding: 15px 20px;
            padding-bottom: 32px;
            margin-bottom: 10px;

            .cat-img {
                margin-bottom: 1.5rem;
            }
        }

        .cat-info {
            h6 {
                font-size: 14px;
                margin-bottom: 0;
            }
        }
    }


    .images-explore {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
        padding: 2px;

        img {
            width: 100%;
        }
    }

    .user.collections {
        display: flex;
        align-items: center;

        img {
            margin-right: 1rem;
            width: 58px;
            height: 58px;
            border-radius: 50%;
        }

        .name {
            font-weight: bold;
            font-size: 1rem;
            margin-bottom: 8px;
        }

        .collections {
            color: #898989;
            font-size: 12px;
        }
    }

    .offcanvas .offcanvas-body {
        align-items: flex-start;
    }

    .offcanvas-notif {
        .detail-nav {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .follows {
        padding: 1.5rem 1rem;

        .follow-item {
            margin-bottom: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .fo-user {
                display: flex;
                align-items: center;

                img {
                    width: 58px;
                    height: 58px;
                    border-radius: 50%;
                    margin-right: 18px;
                }

                .name {
                    font-weight: 500;
                    margin-bottom: 2px;
                    color: black;
                }

                .username {
                    color: #898989;
                    font-size: 12px;
                }
            }

            .fo-btn {
                .btn {
                    border-radius: 2rem;
                    padding: 5px 18px;
                    font-size: 12px;
                }
            }
        }
    }

    .faq {
        .faq-header {
            border-radius: 0;
            padding-top: 40px;
            position: relative;
            padding-bottom: 2rem;

            .title {
                font-weight: bold;
                font-size: 2rem;
                margin-bottom: 21px;
            }

            .search {
                margin-bottom: -2rem;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                width: 95vw;
                bottom: -8px;

                .form-control {
                    background-color: white;
                    border: 1px solid #E9E9E9;
                }
            }
        }

        .accordion {
            padding-top: 2rem;
        }
    }

    .collection-detail {

        .cd-content {
            padding: 1rem;
        }

        .cd-img {
            margin: 0 -1rem;

            img {
                width: 100%;
            }
        }

        .cd-actions {
            padding: 1rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icons {
                display: flex;
                justify-content: flex-end;

                .icon {
                    margin-left: 2rem;
                }
            }
        }

        .cd-title {
            font-weight: bold;
            padding: 12px 0;
        }

        .cd-users {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;

            .user {
                display: flex;
                align-items: center;

                .img {
                    margin-right: 12px;

                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }
                }

                .name {
                    font-weight: bold;
                    color: #474747;
                }
            }

            .time {
                font-size: 12px;
                color: #848484;
            }
        }

        .collection-owned {
            padding: 0 1rem;
            margin-bottom: 2rem;

            .co-img {
                img {
                    width: 100%;
                }
            }
        }

        .story {
            padding: 0 1rem;
            margin-bottom: 2rem;

            p {
                color: black;
            }
        }

        .cd-discussions {
            padding: 0 1rem;
            padding-bottom: 7rem;

            .title {
                font-weight: bold;
                color: #474747;
                margin-bottom: 1rem;
            }

            .user {
                font-size: 12px;
                margin-bottom: 1.5rem;

                a {
                    color: #474747;
                    font-weight: bold;
                }
            }

            .add-comment {
                color: $success;
                font-weight: bold;
                font-size: 12px;
            }
        }

        .cd-nav {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 12px 19px;
            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
            padding-bottom: 2rem;
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: white;
            gap: 1rem;

            .btn {
                padding: 11px;
                font-weight: bold;
            }
        }
    }

}

.mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;

    .logo {
        img {
            height: 24px;
            width: auto;
        }
    }

    .page {
        font-weight: bold;
        font-size: 18px;
        color: black;
    }
}

.detail-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    width: 100%;

    .back {
        padding: 10px 14px;

        .btn {
            padding: 0;
        }
    }

    .title {
        font-weight: bold;
        text-align: center;
        font-size: 18px;
    }

    .fill {
        width: 39px;
    }

    &.nav-faq {
        background-color: #ECF2FF;
    }
}

.tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: auto;

    .tab {
        text-align: center;
        padding-bottom: 1rem;
        margin-top: 12px;
        color: #848484;
        position: relative;

        &.active {
            color: black;
            font-weight: bold;

            &:after {
                width: 100%;
                content: '';
                background: #00FFB9;
                border-radius: 6px 6px 0px 0px;
                height: 4px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.bottomsheet {

    .modal-dialog {
        bottom: 0;
        position: absolute;
        margin: 0;
        width: 100%;
        transform: translate(0, 100px) !important;

        .modal-content {
            border-radius: 24px 24px 0 0;

            .modal-body {
                padding-left: 0;
                padding-right: 0;
                padding-top: 2rem;
                position: relative;

                &:after {
                    content: '';
                    width: 20%;
                    height: 3px;
                    border-radius: 1rem;
                    background-color: #797979;
                    position: absolute;
                    top: 1rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }


            .bs-item {
                width: 100%;
                padding: 1rem;
                padding-top: 0;

                a {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: .5rem;
                        filter: brightness(0) invert(0.3);
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 1rem;
                    border-bottom: 1px solid #ececec;
                }
            }
        }
    }

    &.show {
        .modal-dialog {
            transform: none !important;
        }
    }
}

.activities {
    font-size: 14px;

    .activity-item {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);

        .ai-user {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 16px;

            .more {
                .btn {

                    &:active,
                    &:focus,
                    &:hover,
                    &:focus-visible {
                        box-shadow: none;
                        border: none;
                    }
                }
            }

            .user {
                display: flex;
                align-items: center;

                .img {
                    margin-right: 12px;

                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }
                }

                .name {
                    margin-right: 8px;
                    font-weight: bold;
                }

                .time {
                    font-size: 10px;
                }
            }
        }

        .ai-img {
            img {
                width: 100%;
            }
        }

        .ai-content {
            padding: 12px;
            padding-bottom: 20px;

            .ai-actions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1rem;

                .left-side {
                    display: flex;
                    align-items: center;

                    .icon:not(:last-child) {
                        margin-right: 1rem;
                    }
                }

                .btn {
                    padding: 10px 16px;
                    border-radius: 2rem;
                    font-weight: 600;
                    color: black;
                    font-size: 12px;
                }
            }

            .ai-title {
                font-weight: bold;
                margin-bottom: 8px;
            }

            .ai-discussions {
                color: #848484;
                font-size: 12px;
            }
        }
    }
}

.events {
    .event-item {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);

        .ei-img {
            img {
                width: 100%;
            }
        }

        .ei-content {
            padding: 1rem;
            padding-bottom: 20px;

            .ei-actions {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;

                .joined {
                    color: #848484;

                    img {
                        margin-right: 8px;
                    }

                    span {
                        color: #474747;
                        font-weight: bold;
                        margin-right: 4px;
                    }
                }
            }

            .ei-title {
                font-weight: bold;
                margin-bottom: 8px;
            }

            .ei-desc {
                color: #848484;

                .date {
                    font-weight: bold;
                    color: #474747;
                    margin-right: 4px;
                }
            }
        }
    }
}

.event-detail {
    .ed-content {
        padding: 1rem;
    }

    .ed-title {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }

    .ed-img {
        margin: 0 -1rem;
        margin-bottom: 2rem;

        img {
            width: 100%;
        }
    }

    .ed-info {
        margin-bottom: .5rem;

        .item {
            margin-bottom: 1.5rem;

            .info-title {
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
                color: #848484;

                img {
                    margin-right: 14px;
                }
            }

            .info-desc {
                font-weight: 600;
                font-size: 1rem;
            }
        }
    }

    .ed-text {
        margin-bottom: 2rem;

        .subtitle {
            color: #A4A4A4;
            margin-bottom: 2rem;
            font-size: 1rem;
        }
    }

    .images {
        margin-bottom: 20px;

        img {
            width: 100%;
            margin-bottom: 12px;
        }
    }

    .ed-join {
        padding-bottom: 2rem;

        .btn {
            width: 100%;
        }
    }

}

.collectors {
    padding: 1rem;
    margin-bottom: 0;

    .collector-item {
        display: block;
        margin-bottom: 24px;

        .top-section {
            margin-bottom: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .user {
                display: flex;
                align-items: center;

                img {
                    margin-right: 1rem;
                    width: 58px;
                    height: 58px;
                    border-radius: 50%;
                }

                .name {
                    font-weight: bold;
                    font-size: 1rem;
                    margin-bottom: 8px;
                }

                .collections {
                    color: #898989;
                    font-size: 12px;
                }
            }

            .follow {
                .btn {
                    padding: 6px 1rem;
                    border-radius: 2rem;
                    font-size: 12px;
                }
            }
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            .img {
                &:first-child {
                    img {
                        border-radius: 6px 0px 0px 6px;
                    }
                }

                &:last-child {
                    img {
                        border-radius: 0 6px 6px 0;
                    }
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

.collector {
    .co-user {
        margin-bottom: 2rem;
        text-align: center;
        margin-top: 2rem;

        .user-img {
            margin-bottom: 1rem;

            img {
                width: 86px;
                height: 86px;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .user-name {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: .5rem;
        }

        .profile-cat {
            color: #898989;
            font-size: 12px;
            margin-bottom: 1rem;
        }

        .user-follow {
            margin-bottom: 2rem;

            .btn {
                padding: 9px 13px;
                border-radius: 2rem;
            }
        }

        .socials {
            display: flex;
            justify-content: center;

            .icon {
                margin: 0 12px;

                img {
                    width: 24px;
                    height: auto;
                }
            }
        }
    }
}

.my-assets {
    margin-top: 24px;
    padding: 0 1rem;
    margin-bottom: 0;

    .ma-values {
        margin-bottom: 1rem;
    }

    .ma-img {
        margin-bottom: 2rem;

        img {
            width: 100%;
        }
    }

    .collection-value {
        .cv-title {
            margin-bottom: 10px;
        }

        .cv-price {
            p {
                font-size: 12px;
                color: #797979;
            }

            h6 {
                margin-bottom: 0;
                font-size: 1rem;
            }
        }
    }
}

.login {
    padding: 2rem 1rem;

    .img-logo {
        text-align: center;
        margin-bottom: 2rem;

        img {
            height: 24px;
        }
    }

    .si-content {
        h4 {
            font-size: 28px;
            line-height: 145%;
        }

        .btn-groups {
            .btn {
                border-radius: 2rem;
            }
        }
    }
}

.notification {
    .notif-section {
        margin-bottom: 2rem;

        .notif-title {
            font-weight: bold;
            margin-bottom: 12px;
        }

        .notif-item {
            display: flex;
            align-items: center;
            margin-bottom: 12px;

            .notif-img {
                margin-right: 18px;

                img {
                    width: 58px;
                    height: 58px;
                    border-radius: 50%;
                }
            }

            .notif-text {
                color: black;
                font-weight: 500;

                span {
                    font-weight: 400;
                    color: #898989;
                    margin-left: .5rem;
                    font-size: 12px;
                }
            }
        }
    }
}

.sidebar-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4rem;

    .top-section {
        .user {
            padding: 0 1rem;
            margin: 0 -1rem;
            padding-bottom: 24px;
            margin-bottom: 2rem;
            border-bottom: 1px solid #d9d9d9;
            width: 99vw;
        }

        .menu {
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    margin-bottom: 1.5rem;

                    a {
                        color: #4D4D4D;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .bottom-section {
        .switch {
            padding: 0 1rem;
            margin: 0 -1rem;
            padding-bottom: 24px;
            margin-bottom: 16px;
            border-bottom: 1px solid #d9d9d9;
            width: 99vw;

            .dropdown-switch {
                padding: 0;
                justify-content: start;

                .form-check {
                    margin: 0 .5rem;
                    margin-top: 0;
                    margin-left: 4px;
                }
            }
        }

        .logout {
            color: $danger;
            font-weight: 600;
        }
    }
}

.bottom-nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    padding: 10px 25px;
    background-color: white;
    width: 100%;
    box-shadow: 0px -4px 24px rgba(0, 0, 0, 0.05);

    .icon {

        a {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &.active {
            svg {
                path {
                    stroke: #00BF8B;
                }
            }

            .text {
                color: #00BF8B;
            }
        }

        &.add {
            .icon-svg {
                width: 32px;
                height: 32px;
                background-color: $secondary;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    margin-top: -2px;
                }
            }
        }

        .text {
            font-size: 10px;
        }

        .icon-svg {
            height: 24px;
            margin-bottom: 8px;
            width: auto;
        }
    }
}