.navbar {
    padding: 0;

    .menu-list {
        ul {
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0;

            li {
                padding: 3rem 2rem;
                position: relative;
                color: #434343;

                a {
                    display: inline-block;
                    letter-spacing: 0.235px;

                    &.active,
                    &:hover {
                        font-weight: bold;
                        color: #01143A;
                        letter-spacing: 0;

                        &::after {
                            content: '';
                            top: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            border-radius: 0px 0px 10px 10px;
                            height: 4px;
                            background-color: $secondary;
                        }
                    }
                }
            }
        }
    }

    .actions {
        display: flex;

        .item {
            margin: 0 1rem;
            display: flex;
            align-items: center;
        }

        .profile {
            display: flex;
            align-items: center;
            padding: 5px 6px;
            border-radius: 20px;
            border: 1px solid #EAEAEA;
        }

        .dropdown-menu.show {
            margin-top: 1.5rem;
            border-radius: 1rem;
            border: none;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
            padding: 0;

            &.notification {
                left: auto;
                right: -2rem;
                width: 359px;

                .dropdown-title {
                    padding: 12px 24px;
                }

                .dropdown-item {
                    display: flex;

                    .dropdown-img {
                        margin-right: 18px;

                        img {
                            width: 58px;
                            height: 58px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    .dropdown-text {
                        p {
                            white-space: break-spaces;
                            font-weight: 500;

                            span {
                                color: #989898;
                                font-weight: 400;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            .dropdown-item {
                padding: 12px 24px;
                border-radius: 1rem;
                color: #131313;

                &:hover,
                &:focus {
                    background-color: transparent;
                    color: #131313;
                }
            }
        }

        .dropdown-switch {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 24px;

            .form-check {
                min-height: 0;

                .form-check-input {
                    margin-left: -2.25em;
                }
            }
        }
    }

    .hamburger {
        display: none;
    }

    @include breakpoint(untilTablet) {
        padding: 2rem 0;

        .hamburger {
            display: block;
        }

        .menu-list,
        .actions {
            display: none;
        }
    }
}

.offcanvas {
    .offcanvas-body {
        display: flex;
        flex-direction: column;
        align-items: center;

        .sidebar-img {
            text-align: center;
            margin-bottom: 81px;
            margin-top: 1rem;

            img {
                width: 162px;
                height: auto;
            }
        }

        .sidebar-search {
            margin-bottom: 74px;
            position: relative;
            width: 85%;

            .form-control {
                border-radius: 12px;
                border-color: #B5BED0;
                padding: 14px;
            }

            .icon-search {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 14px;
            }
        }

        .sidebar-menu {
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                text-align: center;

                li {
                    margin-bottom: 64px;
                    color: #01143A;

                    a {
                        font-size: 32px;
                        line-height: 39px;
                    }
                }
            }
        }

        .sidebar-actions {
            display: flex;
            align-items: center;
            justify-content: center;

            .item {
                margin: 0 1rem;
            }
        }
    }
}