.bootstrap-tagsinput {
    display: block;
    padding: 12px;
    border-radius: 8px;
    border-color: #DBDEE2;

    .tag {
        color: #5C5C5C;
        background-color: #DDE5F4;
        padding: 4px 8px;
        border-radius: 10px;
    }
}