.search-results {
    .header-search {
        margin-bottom: 60px;

        h3 {
            font-size: 32px;
            line-height: 145%;
            margin-bottom: 1.5rem;
        }
    }

    .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .category {
            display: flex;

            .item {
                display: block;
                margin-right: 3rem;
                font-weight: 500;
            }
        }
    }
}

.faq {
    .faq-header {
        background-color: $primary;
        color: white;
        border-radius: 24px;
        text-align: center;
        padding: 4rem 1rem;
        padding-bottom: 100px;

        h5 {
            color: $secondary;
            font-weight: 500;
            margin-bottom: 28px;
        }
    }

    .search-bar {
        width: 60%;
        margin: auto;
        position: relative;
        margin-top: -2rem;

        .form-control {
            box-shadow: 0px 4px 20px rgba(95, 158, 141, 0.15);
            border-radius: 10px;
            border: none;
            padding: 1.5rem 2rem;
        }

        .search-icon {
            position: absolute;
            right: 2rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.coming-soon {
    nav {
        padding: 64px 0;
    }

    .cta {
        margin-bottom: 108px;
        margin-top: 60px;

        h1 {
            font-size: 72px;
            line-height: 108px;
            color: black;
            font-weight: 500;
        }
    }

    .timer {
        h6 {
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 1rem;
            color: #667085;
        }

        h1 {
            font-size: 64px;
            font-weight: 500;
            line-height: 96px;
            color: black;
        }
    }

    @include breakpoint(untilTablet) {
        .container {
            padding: 0 1rem;
        }

        nav {
            padding: 2rem 0;
        }

        .cta {
            margin-bottom: 3rem;
            margin-top: 1rem;

            h1 {
                font-size: 40px;
                line-height: normal;
            }
        }

        .timer {
            margin-bottom: 2rem;

            h1 {
                font-size: 36px;
                line-height: normal;
            }
        }
    }

    .content {
        margin-bottom: 90px;
    }

    .right-side {
        h5 {
            margin-bottom: 8px;
        }

        p {
            margin-bottom: 1.5rem;
        }

        .email {
            .input {
                display: flex;
                align-items: center;

                input {
                    height: 48px;
                    margin-right: 20px;
                }

                .btn {
                    white-space: nowrap;
                    padding: 14px 26px;
                    line-height: 19.49px;
                }
            }
        }
    }

    .coming-img {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;

        img {
            width: 100vw;
        }
    }

    footer {
        color: #D0D5DD;
    }
}