.search-results {
    .header-search {
        margin-bottom: 60px;

        h3 {
            font-size: 32px;
            line-height: 145%;
            margin-bottom: 1.5rem;
        }
    }

    .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .category {
            display: flex;

            .item {
                display: block;
                margin-right: 3rem;
                font-weight: 500;
            }
        }
    }

    .collections {
        .collection {
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            margin-bottom: 1rem;

            .item-img {
                img {
                    border-radius: 10px 10px 0px 0px;
                    width: 100%;
                }
            }

            .item-info {
                padding: 1rem;
                border-bottom: 1px solid #E8E8E8;
                margin-bottom: 12px;

                .item-title {
                    font-weight: bold;
                    color: black;
                    margin-bottom: 1rem;
                }

                .info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .stats {
                        display: flex;
                        align-items: center;

                        .item {
                            display: flex;
                            align-items: center;
                            font-size: 12px;
                            margin-right: 1.5rem;
                            color: #848484;

                            span {
                                font-weight: 700;
                                color: #474747;
                            }

                            img {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }

            .item-user {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: .75rem 1rem;
                padding-top: 0;

                .user {
                    display: flex;
                    align-items: center;
                    font-size: 14px;

                    img {
                        margin-right: .75rem;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }
                }

                .time {
                    color: #848484;
                    font-size: 12px;
                }
            }
        }
    }
}