.my-assets {
    margin-bottom: 75px;

    .ma-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }
}

.collection-value {
    margin-bottom: 100px;

    >.row {
        margin-bottom: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid #E9E9E9;
    }

    h5 {
        margin-bottom: 2rem;
    }

    .cv-img {
        img {
            object-fit: cover;
            border-radius: 10px;
            width: 100%;
        }
    }

    .cv-title {
        font-weight: 18px;
        font-weight: 700;
    }

    .cv-price {
        p {
            font-size: 14px;
            color: #C8C8C8;
            margin-bottom: .5rem;
        }

        h6 {
            font-size: 24px;
        }

        &.market,
        &.active {
            h6 {
                color: $success;
                display: flex;
                align-items: center;

                svg {
                    margin-left: 12px;

                    path {
                        fill: $success;
                    }
                }
            }
        }
    }

    .cv-year {
        p {
            font-size: 14px;
            color: #C8C8C8;
            margin-bottom: .5rem;
        }

        .year {
            font-size: 18px;
        }
    }

    @include breakpoint(untilTablet) {
        .cv-year {
            text-align: right;
        }
    }
}

.saved-collections-page {
    .collection .item-user {
        .user {
            font-weight: 700;

            @include breakpoint(desktop) {
                img {
                    margin-right: 6px;
                }
            }
        }
    }
}

.archived-page {
    .collections .collection .item-img {
        img {
            filter: saturate(0);
        }
    }
}

.edit-profile {
    margin-bottom: 100px;

    h5 {
        margin-bottom: 2rem;
    }

    .form-control,
    .form-select {
        padding: 6px .75rem;
    }

    .change-image {
        margin-bottom: 2rem;

        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            margin-right: 2rem;
        }

        .btn-gray {
            background-color: #B8C2D6;
            color: white;
            font-weight: bold;
        }
    }

    .form-group {
        margin-bottom: 12px;
    }

    .form-label {
        margin-bottom: 8px;
    }

    .btn-secondary {
        margin-top: 3rem;
        font-weight: bold;
        padding: 14px 45px;
        font-size: 1rem;
    }

    .presence {
        h5 {
            text-transform: uppercase;
            color: #A5A5A5;
        }

        .form-select {
            font-weight: bold;
            color: #6D7588;
        }

        .col-1 {
            display: flex;
            justify-content: center;
            align-items: flex-end;

            .btn {
                padding: 11px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}