@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import 'variables';
@import '../assets/bootstrap-5.2.0-beta1/scss/bootstrap.scss';

@import 'overrides';
@import 'global';
@import 'navbar';
@import 'footer';
@import 'index';
@import 'collections';
@import 'collectors';
@import 'pages';
@import 'events';
@import 'top';
@import 'contact-about';
@import 'sign-in';
@import 'profiles';
@import 'dashboard';
@import 'mobile';
@import 'dark';
@import 'dark-mobile-dashboard';


body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #3C3C3C;

    &[data-theme="dark"] {
        color: white;
        background-color: $dark;
    }
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}