<div class="footer">
    <div class="container">
        <div class="row top-section">
            <div class="col-12 col-lg-5">
                <div class="logo">
                    <img src="/images/logo.png" alt="">
                </div>
                <p class="description">
                    A home for Collectors to Connect each other, Share & Trade valuable collections
                </p>
            </div>
            <div class="col-12 col-lg-7">
                <div class="row">
                    <div class="col-6 col-md-3 col-lg-3">
                        <div class="menu-title">
                            Top
                        </div>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">Top collection</a>
                            </li>
                            <li>
                                <a href="#">Top collectors</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3">
                        <div class="menu-title">
                            About
                        </div>
                        <ul class="footer-menu">
                            <li>
                                <a href="/about.html">About Kolektibles</a>
                            </li>
                            <li>
                                <a href="#">Help</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="menu-title">
                            Social Media
                        </div>
                        <ul class="footer-menu socials">
                            <li>
                                <img src="/images/icons/icon-social-media-youtube.svg" alt="">
                                <a href="#">kolektibles.app</a>
                            </li>
                            <li>
                                <img src="/images/icons/icon-social-media-instagram.svg" alt="">
                                <a href="#">kolektibles.id</a>
                            </li>
                            <li>
                                <img src="/images/icons/icon-social-media-linkedin.svg" alt="">
                                <a href="#">kolektibles.company</a>
                            </li>
                            <li>
                                <img src="/images/icons/icon-social-media-facebook.svg" alt="">
                                <a href="#">Kolektibles Anak Indonesia</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2">
                        <div class="question">
                            ?
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-section">
            <div class="copyright">
                <div class="item">
                    © 2022 Kolektibles
                </div>
                <div class="item">
                    Privacy
                </div>
                <div class="item">
                    Terms
                </div>
            </div>
            <div class="scroll">
                <img src="/images/icons/Heart.svg" alt="">
                Thanks for scroll.
            </div>
        </div>
    </div>
</div>