<div class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="/index.html">
            <img src="/images/logo.png" alt="">
        </a>
        <div class="menu-list">
            <ul>
                <li>
                    <a href="/index.html">Home</a>
                </li>
                <li>
                    <a href="/collection-categories.html">Collections</a>
                </li>
                <li>
                    <a href="#">Collectors</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
            </ul>
        </div>
        <div class="actions">
            <div class="item">
                <div class="dropdown">
                    <a href="#" role="button" id="currency" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/icons/coins.svg" alt="">
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="currency">
                        <li><a class="dropdown-item" href="#">USD - $ (United States dollar)</a></li>
                        <li><a class="dropdown-item" href="#">IDR - Rp (Indonesia rupiah)</a></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="dropdown">
                    <a href="#" role="button" id="language" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/icons/web.svg" alt="">
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="language">
                        <li><a class="dropdown-item" href="#">English</a></li>
                        <li><a class="dropdown-item" href="#">Bahasa Indonesia</a></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/images/icons/Notification.svg " alt="">
                </a>
            </div>
            <div class="item">
                <div class="dropdown">
                    <a href="#" role="button" id="profile" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="profile">
                            <img src="/images/icons/icon-burger.svg" alt="">
                            <img src="/images/profile-thumbs.png" alt="">
                        </div>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="profile">
                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                        <li><a class="dropdown-item" href="#">My Assets</a></li>
                        <li><a class="dropdown-item" href="#">Saved Items</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Help</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-switch">
                            <label for="">Light</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckDefault">
                            </div>
                            <label for="">Dark</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>