<div class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="/index.html">
            <img src="/images/logo-light.png" alt="">
        </a>
        <div class="search-bar">
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Search">
            <div class="search-icon">
                <img src="/images/icons/Search.svg" alt="">
            </div>
        </div>
        <div class="menu-list">
            <ul>
                <li>
                    <a href="/index.html">Home</a>
                </li>
                <li>
                    <a href="/collection-categories.html">Collections</a>
                </li>
                <li>
                    <a href="/collectors.html">Collectors</a>
                </li>
                <li>
                    <a href="/events.html">Events</a>
                </li>
            </ul>
        </div>
        <div class="actions">
            <div class="item">
                <div class="dropdown">
                    <a href="#" role="button" id="currency" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/icons/coins.svg" alt="">
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="currency">
                        <li><a class="dropdown-item" href="#">USD - $ (United States dollar)</a></li>
                        <li><a class="dropdown-item" href="#">IDR - Rp (Indonesia rupiah)</a></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="dropdown">
                    <a href="#" role="button" id="language" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/icons/web.svg" alt="">
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="language">
                        <li><a class="dropdown-item" href="#">English</a></li>
                        <li><a class="dropdown-item" href="#">Bahasa Indonesia</a></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="dropdown">
                    <a href="#" role="button" id="notification" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/icons/Notification.svg" alt="">
                    </a>

                    <ul class="dropdown-menu notification" aria-labelledby="notification">
                        <li class="dropdown-title">Notifications</li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-title">Today</li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="dropdown-img">
                                    <img src="/images/user/user-small-1.png" alt="">
                                </div>
                                <div class="dropdown-text">
                                    <p>Hendrick Shinigami like your collection “Fireman” <span>2 hours ago</span> </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="dropdown ">
                    <a href="#" role="button" id="profile" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="profile">
                            <img src="/images/icons/icon-burger.svg" class="burger" alt="">
                            <img src="/images/profile-thumbs.png" alt="">
                        </div>
                    </a>

                    <ul class="dropdown-menu profile-dd" aria-labelledby="profile">
                        <li><a class="dropdown-item" href="/profile-collections.html">My Profile</a></li>
                        <li><a class="dropdown-item" href="/profile-my-assets.html">My Assets</a></li>
                        <li><a class="dropdown-item" href="/profile-saved-collections.html">Saved Items</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Help</a></li>
                        <li><a class="dropdown-item" href="/sign-in.html">Logout</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-switch">
                            <label for="">Light</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input darkSwitch" type="checkbox" role="switch">
                            </div>
                            <label for="">Dark</label>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <a data-bs-toggle="offcanvas" href="#sidebar" role="button" aria-controls="sidebar" class="hamburger">
            <img src="/images/icons/burger-menu.svg" alt="">
        </a>
    </div>
</div>
<div class="offcanvas offcanvas-start offcanvas-sidebar" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
    <div class="offcanvas-header">
        <div></div>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="sidebar-img">
            <img src="/images/logo-light.png" alt="">
        </div>
        <div class="sidebar-search">
            <input type="text" placeholder="search" class="form-control">
            <div class="icon-search">
                <img src="/images/icons/Search.svg" alt="">
            </div>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/collection-categories.html">Collections</a></li>
                <li><a href="/collectors.html">Collectors</a></li>
                <li><a href="/events.html">Events </a></li>
            </ul>
        </div>

        <div class="sidebar-actions">
            <div class="item">
                <div class="dropdown">
                    <a href="#" role="button" id="currency" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/icons/coins.svg" alt="">
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="currency">
                        <li><a class="dropdown-item" href="#">USD - $ (United States dollar)</a></li>
                        <li><a class="dropdown-item" href="#">IDR - Rp (Indonesia rupiah)</a></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="dropdown">
                    <a href="#" role="button" id="language" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/icons/web.svg" alt="">
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="language">
                        <li><a class="dropdown-item" href="#">English</a></li>
                        <li><a class="dropdown-item" href="#">Bahasa Indonesia</a></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="dropdown">
                    <a href="#" role="button" id="notification" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/icons/Notification.svg" alt="">
                    </a>

                    <ul class="dropdown-menu notification" aria-labelledby="notification">
                        <li class="dropdown-title">Notifications</li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-title">Today</li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="dropdown-img">
                                    <img src="/images/user/user-small-1.png" alt="">
                                </div>
                                <div class="dropdown-text">
                                    <p>Hendrick Shinigami like your collection “Fireman” <span>2 hours ago</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="dropdown">
                    <a href="#" role="button" id="profile" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="profile">
                            <img src="/images/icons/icon-burger.svg" class="burger" alt="">
                            <img src="/images/profile-thumbs.png" alt="">
                        </div>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="profile">
                        <li><a class="dropdown-item" href="/profile-collections.html">My Profile</a></li>
                        <li><a class="dropdown-item" href="/profile-my-assets.html">My Assets</a></li>
                        <li><a class="dropdown-item" href="/profile-saved-collections.html">Saved Items</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Help</a></li>
                        <li><a class="dropdown-item" href="/sign-in.html">Logout</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-switch">
                            <label for="darkSwitch">Light</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input darkSwitch" type="checkbox" role="switch"
                                    id="darkSwitch">
                            </div>
                            <label for="darkSwitch">Dark</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/dark-mode/dark-mode-switch.js"></script>