<div class="offcanvas offcanvas-end offcanvas-notif" tabindex="-1" id="notification"
    aria-labelledby="notificationLabel">
    <div class="offcanvas-body">
        <div class="detail-nav">
            <div class="back">
                <button class="btn" href="#" data-bs-dismiss="offcanvas" aria-label="Close">
                    <img src="/images/icons/chevron left.svg" alt="">
                </button>
            </div>
            <div class="title">
                Notification
            </div>
            <div class="fill"></div>
        </div>

        <div class="notification">
            <div class="notif-section">
                <div class="notif-title">
                    Today
                </div>
                <div class="notif-item">
                    <div class="notif-img">
                        <img src="/images/user/user-3.png" alt="">
                    </div>
                    <div class="notif-text">
                        Hendrick Shinigami like your collection “Fireman” <span>2 hours ago</span>
                    </div>
                </div>

                <div class="notif-item">
                    <div class="notif-img">
                        <img src="/images/user/user-2.png" alt="">
                    </div>
                    <div class="notif-text">
                        Hendrick Jo like your collection “Fireman” <span>2 hours ago</span>
                    </div>
                </div>
            </div>

            <div class="notif-section">
                <div class="notif-title">
                    Yesterday
                </div>
                <div class="notif-item">
                    <div class="notif-img">
                        <img src="/images/user/user-4.png" alt="">
                    </div>
                    <div class="notif-text">
                        Hendrick send you a collection switch ownership <span>2 hours ago</span>
                    </div>
                </div>

                <div class="notif-item">
                    <div class="notif-img">
                        <img src="/images/user/user-5.png" alt="">
                    </div>
                    <div class="notif-text">
                        William Tan accept the collection switch ownership <span>2 hours ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>