<div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
    <div class="offcanvas-body">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <div class="sidebar">
            <div class="top-section">
                <div class="logo">
                    <img src="/images/logo-light.png" alt="">
                </div>

                <div class="menu">
                    <ul>
                        <li>
                            <a href="/dashboard.html">Dashboard</a>
                        </li>
                        <li>
                            <a href="/d-category-setting.html">Category setting</a>
                        </li>
                        <li>
                            <a href="/d-home-setting.html">Home setting</a>
                        </li>
                        <li>
                            <a href="/d-events.html">Events</a>
                        </li>
                        <li>
                            <a href="/d-contact.html">Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="bottom-section">
                <div class="actions">
                    <div class="back-home">
                        <a href="/index.html">Back to home</a>
                    </div>
                    <div class="item">
                        <div class="dropdown">
                            <a href="#" role="button" id="currency" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/images/icons/coins.svg" alt="">
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="currency">
                                <li><a class="dropdown-item" href="#">USD - $ (United States dollar)</a></li>
                                <li><a class="dropdown-item" href="#">IDR - Rp (Indonesia rupiah)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dropdown">
                            <a href="#" role="button" id="language" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/images/icons/web.svg" alt="">
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="language">
                                <li><a class="dropdown-item" href="#">English</a></li>
                                <li><a class="dropdown-item" href="#">Bahasa Indonesia</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dropdown ">
                            <a href="#" role="button" id="profile" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="profile">
                                    <img src="/images/icons/icon-burger.svg" class="burger" alt="">
                                    <img src="/images/profile-thumbs.png" alt="">
                                </div>
                            </a>

                            <ul class="dropdown-menu profile-dd" aria-labelledby="profile">
                                <li><a class="dropdown-item" href="/profile-collections.html">My Profile</a>
                                </li>
                                <li><a class="dropdown-item" href="/profile-my-assets.html">My Assets</a></li>
                                <li><a class="dropdown-item" href="/profile-saved-collections.html">Saved
                                        Items</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Help</a></li>
                                <li><a class="dropdown-item" href="/sign-in.html">Logout</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="dropdown-switch">
                                    <label for="">Light</label>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input darkSwitch" type="checkbox" role="switch">
                                    </div>
                                    <label for="">Dark</label>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="guideline">
                    <div class="text">
                        Dashboard quick guidelines
                    </div>
                    <button type="button" class="btn btn-purple">Read</button>
                    <div class="img">
                        <img src="/images/dashboard/guideline.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>