<div class="sidebar">
    <div class="top-section">
        <div class="logo">
            <img src="/images/logo-light.png" alt="">
        </div>

        <div class="menu">
            <ul>
                <li class="active">
                    <a href="/dashboard.html">Dashboard</a>
                </li>
                <li>
                    <a href="#">Category setting</a>
                </li>
                <li>
                    <a href="/d-home-setting.html">Home setting</a>
                </li>
                <li>
                    <a href="/d-events.html">Events</a>
                </li>
                <li>
                    <a href="/d-contact.html">Contacts</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="bottom-section">
        <div class="guideline">
            <div class="text">
                Dashboard quick guidelines
            </div>
            <button type="button" class="btn btn-purple">Read</button>
            <div class="img">
                <img src="/images/dashboard/guideline.png" alt="">
            </div>
        </div>
    </div>
</div>