<div class="offcanvas offcanvas-start sidebar-mobile" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
    <div class="offcanvas-body ">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <div class="top-section">
            <div class="user collections">
                <img src="/images/user/user-3.png" alt="">
                <div>
                    <div class="name">
                        Gilbert Tanuwijaya
                    </div>
                    <div class="collections">
                        235 Collections
                    </div>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="/mobile/my-collection-value.html">My Personal Profile</a>
                    </li>
                    <li>
                        <a href="/mobile/followers.html">Followers</a>
                    </li>
                    <li>
                        <a href="/mobile/following.html">Following</a>
                    </li>
                    <li>
                        <a href="/mobile/faq.html">Help & Information</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottom-section">
            <div class="switch">
                <div class="dropdown-switch">
                    <label for="">Light</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input darkSwitch" type="checkbox" role="switch">
                    </div>
                    <label for="">Dark</label>
                </div>
            </div>
            <div class="logout">
                <a href="#">Logout</a>
            </div>
        </div>
    </div>
</div>
<script src="../assets/dark-mode/dark-mode-switch.js"></script>